/* ----------------------------------------
fileName : diagnosis.styl
writer   : Daichi Seki, Miwa Shuntaro
---------------------------------------- */
@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
@media screen and (min-width: 767px) {
  a:hover {
    opacity: 0.8;
  }
}
@font-face {
  font-family: "851kktt";
  src: url("../fonts/851H-kktt.ttf") format('woff'), url("../fonts/851H-kktt.ttf") format('truetype');
}
@font-face {
  font-family: "toroman";
  src: url("../fonts/toroman.ttf") format('woff'), url("../fonts/toroman.ttf") format('truetype');
}
@font-face {
  font-family: "Ionicons";
  src: url("../css/ionicons.min.css");
}
body {
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.cfx:after {
  content: "";
  display: block;
  clear: both;
}
.flL {
  float: left;
}
.flR {
  float: right;
}
.flex-row {
  flex: row;
}
.flex-column {
  flex: column;
}
.flex-row-reverse {
  flex: row-reverse;
}
.flex-column-reverse {
  flex: column-reverse;
}
.txL {
  text-align: left;
}
.txC {
  text-align: center;
}
.txR {
  text-align: right;
}
.tab1 {
  padding-left: 20px;
}
.tab2 {
  padding-left: 40px;
}
.tab3 {
  padding-left: 60px;
}
ol.cfx li,
ul.cfx li {
  float: left;
}
ol {
  list-style: none;
}
textarea.opinion-form {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pc-display {
  display: block;
}
.sp-display,
.sp-indisplay {
  display: none;
}
@media (min-width: 767px) {
  .pc-block {
    display: block;
  }
  .pc-inblock {
    display: inline;
  }
}
@media (max-width: 767px) {
  .sp-block {
    display: block;
  }
  .pc-display,
  .pc-indisplay {
    display: none;
  }
  .sp-display {
    display: block;
  }
  .sp-indisplay {
    display: inline-block;
  }
}
@-moz-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-moz-keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@-webkit-keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@-o-keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@-moz-keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@-webkit-keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@-o-keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
body {
  font-size: 14px;
}
/*****-----------------------------------*****/
.diagnosis_wrap {
  width: 100%;
  height: 100%;
  padding-top: 210px;
}
.diagnosis_wrap__item {
  height: calc(100vh - 200px);
  background-color: rgba(255,162,0,0.5);
}
.diagnosis_wrap__item .question {
  width: 100%;
  height: 100vh;
  padding: 5% 8%;
  box-sizing: border-box;
}
.diagnosis_wrap__item .question__query {
  width: calc(100% - 25%);
  font-size: 3vw;
  background-color: #fff;
  height: 12vh;
  line-height: 12vh;
}
.diagnosis_wrap__item .question__choice .individual_choice {
  display: flex;
  width: calc(100% - 35%);
  margin-top: 5vh;
  font-size: 3.5vw;
  background-color: #fff;
  cursor: pointer;
  height: 10vh;
  line-height: 10vh;
}
.diagnosis_wrap__item .question__choice .individual_choice .checkbox {
  width: 50px;
}
.diagnosis_wrap__item .question__choice .individual_choice .lever_word {
  flex: 1;
}
.diagnosis_wrap .fixed_conoha {
  position: fixed;
  top: 260px;
  right: 5%;
  width: 30%;
  height: auto;
}
.diagnosis_wrap .fixed_conoha__img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: auto;
}
/*****-----------------------------------*****/
@media screen and (max-width: 999px) {
  body {
    width: 1000px;
  }
  body .global_header {
    position: absolute;
    width: 1000px;
  }
}
@media screen and (max-width: 767px) {
  body {
    display: none;
  }
}
