/* ----------------------------------------
fileName : diagnosis.styl
writer   : Daichi Seki, Miwa Shuntaro
---------------------------------------- */
@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
.back_rote {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_rote::before,
.back_rote::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_rote::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back_rote:hover::after {
  transform: scale(2) rotate(180deg);
  background: #333;
}
.back_rote2 {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_rote2::before,
.back_rote2::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_rote2:hover {
  color: #000 !important;
}
.back_rote2::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back_rote2:hover::after {
  transform: scale(2) rotate(180deg);
  background: #ddd;
}
.back_rote {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_rote::before,
.back_rote::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_rote::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back_rote:hover::after {
  transform: scale(2) rotate(180deg);
  background: #333;
}
.back_window {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_window::before,
.back_window::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_window::after {
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
}
.back_window:hover::after {
  top: 0;
  left: 0;
  background: #333 url("../img/index/external.png") no-repeat;
  background-position: 96% center;
  background-size: 10% auto;
}
.back_window2 {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_window2::before,
.back_window2::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_window2:hover {
  color: #000 !important;
}
.back_window2::after {
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
}
.back_window2:hover::after {
  top: 0;
  left: 0;
  background: #ddd url("../img/index/external.png") no-repeat;
  background-position: 96% center;
  background-size: 10% auto;
}
.bound_balloon {
  transition: all 0.5s cubic-bezier(0.65, -0.6, 0.295, 1.65);
}
.bound_balloon:hover {
  transform: scale(1.05) !important;
}
.change_main_color:hover {
  color: #ffa200 !important;
}
@font-face {
  font-family: "851kktt";
  src: url("../fonts/851H-kktt.ttf") format('woff'), url("../fonts/851H-kktt.ttf") format('truetype');
}
@font-face {
  font-family: "toroman";
  src: url("../fonts/toroman.ttf") format('woff'), url("../fonts/toroman.ttf") format('truetype');
}
@font-face {
  font-family: "Ionicons";
  src: url("../css/ionicons.min.css");
}
body {
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
::selection {
  background: #ffa200;
}
::-moz-selection {
  background: #ffa200;
}
.cfx:after {
  content: "";
  display: block;
  clear: both;
}
.flL {
  float: left;
}
.flR {
  float: right;
}
.flex-row {
  flex: row;
}
.flex-column {
  flex: column;
}
.flex-row-reverse {
  flex: row-reverse;
}
.flex-column-reverse {
  flex: column-reverse;
}
.txL {
  text-align: left;
}
.txC {
  text-align: center;
}
.txR {
  text-align: right;
}
.tab1 {
  padding-left: 20px;
}
.tab2 {
  padding-left: 40px;
}
.tab3 {
  padding-left: 60px;
}
ol.cfx li,
ul.cfx li {
  float: left;
}
ol {
  list-style: none;
}
textarea.opinion-form {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pc-display {
  display: block;
}
.sp-display,
.sp-indisplay {
  display: none;
}
@media (min-width: 767px) {
  .pc-block {
    display: block;
  }
  .pc-inblock {
    display: inline;
  }
}
@media (max-width: 767px) {
  .sp-block {
    display: block;
  }
  .pc-display,
  .pc-indisplay {
    display: none;
  }
  .sp-display {
    display: block;
  }
  .sp-indisplay {
    display: inline-block;
  }
}
@-moz-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-moz-keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@-webkit-keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@-o-keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@-moz-keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@-webkit-keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@-o-keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@-moz-keyframes start_btn_active {
  0% {
    opacity: 0 !important;
    transform: translateY(60px) !important;
  }
  1% {
    opacity: 0 !important;
    transform: translateY(60px) !important;
  }
  100% {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
@-webkit-keyframes start_btn_active {
  0% {
    opacity: 0 !important;
    transform: translateY(60px) !important;
  }
  1% {
    opacity: 0 !important;
    transform: translateY(60px) !important;
  }
  100% {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
@-o-keyframes start_btn_active {
  0% {
    opacity: 0 !important;
    transform: translateY(60px) !important;
  }
  1% {
    opacity: 0 !important;
    transform: translateY(60px) !important;
  }
  100% {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
@keyframes start_btn_active {
  0% {
    opacity: 0 !important;
    transform: translateY(60px) !important;
  }
  1% {
    opacity: 0 !important;
    transform: translateY(60px) !important;
  }
  100% {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
@-moz-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes color-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@-webkit-keyframes color-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@-o-keyframes color-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@keyframes color-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@-moz-keyframes text-fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.6;
  }
}
@-webkit-keyframes text-fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.6;
  }
}
@-o-keyframes text-fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.6;
  }
}
@keyframes text-fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.6;
  }
}
body {
  font-size: 14px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
}
/*****-----------------------------------*****/
.diagnosis_wrap {
  width: 100%;
  height: 100%;
  padding-top: 210px;
  background-image: url("../img/index/back_pattern.png");
}
.diagnosis_wrap__item {
  height: calc(100vh - 200px);
}
.diagnosis_wrap__item .question {
  width: 100%;
  height: 100vh;
  padding: 5% 8%;
  box-sizing: border-box;
}
.diagnosis_wrap__item .question__query {
  width: calc(100% - 25%);
  font-size: 2.7vw;
  background-color: transparent;
  height: 12vh;
  line-height: 12vh;
}
.diagnosis_wrap__item .question__query .question_number {
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 4vw;
  font-weight: bold;
  color: #ffa200;
  text-shadow: 3px 3px 3px #ccc;
}
.diagnosis_wrap__item .question__query .question_text {
  font-weight: bold;
  color: #555;
  background: linear-gradient(transparent 65%, #ffbf7f 35%);
}
.diagnosis_wrap__item .question__choice {
  position: relative;
/*
        .overlay_border
          position absolute
          z-index 999
          width calc(100% - 35%)
          height 10vh
          opacity 0
          box-shadow:0px 0px 0px 5px #fff inset,0px 0px 0px 8px #fff inset;
          transition .2s
          &:hover
            opacity 1
            box-shadow:0px 0px 0px 5px #fff inset,0px 0px 0px 8px #ffbf7f inset;
        */
}
.diagnosis_wrap__item .question__choice .individual_choice {
  display: flex;
  width: calc(100% - 35%);
  margin-top: 5vh;
  font-size: 3.5vw;
  font-weight: bold;
  color: #555;
  background-color: #fff;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 3px 3px 3px #ccc;
  height: 10vh;
  line-height: 10vh;
}
.diagnosis_wrap__item .question__choice .individual_choice:hover {
  box-shadow: 6px 6px 3px #aaa;
}
.diagnosis_wrap__item .question__choice .individual_choice .checkbox {
  display: none;
}
.diagnosis_wrap__item .question__choice .individual_choice .checkbox:checked + .lever_word::after {
  content: "";
  position: absolute;
  top: 2.2vh;
  left: 3.5vh;
  width: 4.8vh;
  height: 2.3vh;
  border-left: 0.8vh solid #ffbf7f;
  border-bottom: 1vh solid #ffbf7f;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.diagnosis_wrap__item .question__choice .individual_choice .lever_word {
  flex: 1;
  position: relative;
  padding-left: 10vh;
  box-sizing: border-box;
}
.diagnosis_wrap__item .question__choice .individual_choice .lever_word::before {
  content: "";
  display: block;
  position: absolute;
  top: 2vh;
  left: 2.4vh;
  width: 5vh;
  height: 5vh;
  border: 6px solid #ffbf7f;
  border-radius: 4px;
}
.diagnosis_wrap .fixed_conoha {
  position: fixed;
  top: 260px;
  right: 5%;
  width: 30%;
  height: auto;
}
.diagnosis_wrap .fixed_conoha__img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: auto;
}
/*****-----------------------------------*****/
@media screen and (max-width: 999px) {
  body {
    width: 1000px;
  }
  body .global_header {
    position: absolute;
    width: 1000px;
  }
}
@media screen and (max-width: 767px) {
  body {
    display: none;
  }
}
