/* ----------------------------------------
fileName : style.scss
writer   : Daichi Seki, Miwa Shuntaro
---------------------------------------- */
@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
@media screen and (min-width: 767px) {
  a:hover {
    opacity: 0.8;
  }
}
@font-face {
  font-family: "851kktt";
  src: url("../fonts/851H-kktt.ttf") format('woff'), url("../fonts/851H-kktt.ttf") format('truetype');
}
@font-face {
  font-family: "toroman";
  src: url("../fonts/toroman.ttf") format('woff'), url("../fonts/toroman.ttf") format('truetype');
}
body {
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.cfx:after {
  content: "";
  display: block;
  clear: both;
}
.flL {
  float: left;
}
.flR {
  float: right;
}
.flex-row {
  flex: row;
}
.flex-column {
  flex: column;
}
.flex-row-reverse {
  flex: row-reverse;
}
.flex-column-reverse {
  flex: column-reverse;
}
.txL {
  text-align: left;
}
.txC {
  text-align: center;
}
.txR {
  text-align: right;
}
.tab1 {
  padding-left: 20px;
}
.tab2 {
  padding-left: 40px;
}
.tab3 {
  padding-left: 60px;
}
ol.cfx li,
ul.cfx li {
  float: left;
}
ol {
  list-style: none;
}
textarea.opinion-form {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pc-display {
  display: block;
}
.sp-display,
.sp-indisplay {
  display: none;
}
@media (min-width: 767px) {
  .pc-block {
    display: block;
  }
  .pc-inblock {
    display: inline;
  }
}
@media (max-width: 767px) {
  .sp-block {
    display: block;
  }
  .pc-display,
  .pc-indisplay {
    display: none;
  }
  .sp-display {
    display: block;
  }
  .sp-indisplay {
    display: inline-block;
  }
}
body {
  font-size: 14px;
}
/*****-----------------------------------*****/
.header_wrapp {
  position: relative;
}
.header_wrapp .header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url("../img/index/header_back.jpg") no-repeat center top;
  background-size: cover;
  font-family: "851kktt";
}
.header_wrapp .header::before {
  content: "";
  position: absolute;
  z-index: 99;
  bottom: 0;
  width: 200%;
  height: 11vw;
  background-color: #fff;
  transform: skewY(-6deg);
}
.header_wrapp .header h1 {
  padding: 5% 8% 3% 8%;
  font-size: 3.6vw;
  color: #fff;
  line-height: 1.6;
}
.header_wrapp .header h1 span {
  font-size: 6vw;
}
.header_wrapp .header__image {
  position: absolute;
  width: 45%;
  top: 2%;
  right: 1%;
  z-index: 100;
}
.header_wrapp .header .diagnosis_start {
  position: relative;
  display: block;
  z-index: 100;
  top: 55%;
  left: 8%;
  width: 30vw;
  height: 30vw;
}
.header_wrapp .header .diagnosis_start .circle {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 0 0 20px;
  border: 8px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #ffa200;
}
.header_wrapp .header .diagnosis_start .circle__word {
  display: table-cell;
  vertical-align: middle;
  padding: 5%;
  box-sizing: border-box;
  line-height: 2;
  font-size: 2.8vw;
  font-weight: bold;
  color: #fff;
  text-shadow: #f01fdb 0.15vw 0.15vw 0px, #f01fdb -0.15vw 0.15vw 0px, #f01fdb 0.15vw -0.15vw 0px, #f01fdb -0.15vw -0.15vw 0px, #f01fdb 0vw 0.2vw 0px, #f01fdb -0.2vw 0vw 0px, #f01fdb 0.2vw 0vw 0px, #f01fdb 0vw -0.2vw 0px;
}
.header_wrapp .header .diagnosis_start .circle__image {
  position: absolute;
  bottom: 0%;
  left: 60%;
  width: 60%;
}
.header_wrapp .header .diagnosis_start .circle__image--content {
  width: 100%;
  height: auto;
}
/*****----------------------------------- description *****/
#description {
  background: #ffa200;
  margin: 2% 0;
}
#description .title {
  position: relative;
  background: #fff;
  overflow: hidden;
  width: 100%;
  height: 25vw;
  padding: 0 8%;
  box-sizing: border-box;
}
#description .title::before {
  content: "";
  position: absolute;
  z-index: 99;
  left: -1%;
  bottom: 0%;
  width: 200%;
  height: 11vw;
  background-color: #ffa200;
  transform: skewY(-6deg);
}
#description .title h2 {
  padding: 0 0 100px;
  font-size: 3.4vw;
  font-family: toroman;
  color: #fff;
  line-height: 1.6;
  letter-spacing: 0.2em;
  transform: skewY(-6deg);
  text-shadow: #ffa200 0.2vw 0.2vw 0px, #ffa200 -0.2vw 0.2vw 0px, #ffa200 0.2vw -0.2vw 0px, #ffa200 -0.2vw -0.2vw 0px, #ffa200 0vw 0.3vw 0px, #ffa200 -0.3vw 0vw 0px, #ffa200 0.3vw 0vw 0px, #ffa200 0vw -0.3vw 0px;
}
#description .text {
  width: 100%;
  color: #fff;
  padding: 0 15%;
  background: url("../img/index/conoha_2.png") no-repeat left top;
  box-sizing: border-box;
}
#description .text__innner {
  margin: 5% 0 0;
  padding: 5%;
  background: rgba(43,48,42,0.6);
}
#description .text__innner h3 {
  font-size: 2.6vw;
  padding: 5% 0 0;
}
#description .text__innner p {
  padding: 5% 0;
  font-size: 2.2vw;
  line-height: 1.8;
  letter-spacing: 0.2em;
}
/*****----------------------------------- diagnosis *****/
#diagnosis {
  background: url("../img/index/konoha.png") no-repeat 90% 75%;
  background-size: auto 65%;
  width: 100%;
  height: 300px;
  margin: 0 auto 150px;
  padding: 15% 0 5%;
  position: relative;
  overflow: hidden;
}
#diagnosis .start {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
#diagnosis .start a {
  display: block;
  width: 60%;
  font-size: 4em;
  color: #000;
  border: 2px solid #000;
  padding: 3%;
  text-align: center;
  box-sizing: border-box;
}
#diagnosis .start a span.large {
  color: #ffa200;
  font-size: 7em;
}
#diagnosis .diagnosis_wrap1 {
  width: 220%;
  height: 10%;
  margin: 10% 0 0 -10%;
  text-align: center;
  background: #fff;
  box-shadow: 0px 1.2vw 0px 0px #2576c2 inset, 0px -1.2vw 0px 0px #2576c2 inset;
  position: absolute;
  top: 0%;
  z-index: 100;
  transform: rotate(3deg);
}
#diagnosis .diagnosis_wrap2 {
  width: 220%;
  height: 10%;
  margin: 10% 0 0 -10%;
  text-align: center;
  background: #fff;
  box-shadow: 0px 1.2vw 0px 0px #2576c2 inset, 0px -1.2vw 0px 0px #2576c2 inset;
  position: absolute;
  top: 65%;
  z-index: 100;
  transform: rotate(3deg);
}
/*****-----------------------------------*****/
@media screen and (max-width: 999px) {
  body {
    width: 1000px;
  }
  .header_wrapp .header::before {
    height: 120px;
  }
  .header_wrapp .header h1 {
    font-size: 36px;
  }
  .header_wrapp .header h1 span {
    font-size: 60px;
  }
  .header_wrapp .header .diagnosis_start {
    width: 300px;
    height: 300px;
  }
  .header_wrapp .header .diagnosis_start .circle__word {
    font-size: 2em;
  }
}
@media screen and (max-width: 767px) {
  body {
    display: none;
  }
}
