/* ----------------------------------------
fileName : index.styl
writer   : Daichi Seki, Miwa Shuntaro

-- トップページstylの記入
---------------------------------------- */
@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
.back_rote {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_rote::before,
.back_rote::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_rote::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back_rote:hover::after {
  transform: scale(2) rotate(180deg);
  background: #333;
}
.back_rote2 {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_rote2::before,
.back_rote2::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_rote2:hover {
  color: #000 !important;
}
.back_rote2::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back_rote2:hover::after {
  transform: scale(2) rotate(180deg);
  background: #ddd;
}
.back_rote {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_rote::before,
.back_rote::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_rote::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back_rote:hover::after {
  transform: scale(2) rotate(180deg);
  background: #333;
}
.back_window {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_window::before,
.back_window::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_window::after {
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
}
.back_window:hover::after {
  top: 0;
  left: 0;
  background: #333 url("../img/index/external.png") no-repeat;
  background-position: 96% center;
  background-size: 10% auto;
}
.back_window2 {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_window2::before,
.back_window2::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_window2:hover {
  color: #000 !important;
}
.back_window2::after {
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
}
.back_window2:hover::after {
  top: 0;
  left: 0;
  background: #ddd url("../img/index/external.png") no-repeat;
  background-position: 96% center;
  background-size: 10% auto;
}
@font-face {
  font-family: "851kktt";
  src: url("../fonts/851H-kktt.ttf") format('woff'), url("../fonts/851H-kktt.ttf") format('truetype');
}
@font-face {
  font-family: "toroman";
  src: url("../fonts/toroman.ttf") format('woff'), url("../fonts/toroman.ttf") format('truetype');
}
@font-face {
  font-family: "Ionicons";
  src: url("../css/ionicons.min.css");
}
body {
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
::selection {
  background: #ffa200;
}
::-moz-selection {
  background: #ffa200;
}
.cfx:after {
  content: "";
  display: block;
  clear: both;
}
.flL {
  float: left;
}
.flR {
  float: right;
}
.flex-row {
  flex: row;
}
.flex-column {
  flex: column;
}
.flex-row-reverse {
  flex: row-reverse;
}
.flex-column-reverse {
  flex: column-reverse;
}
.txL {
  text-align: left;
}
.txC {
  text-align: center;
}
.txR {
  text-align: right;
}
.tab1 {
  padding-left: 20px;
}
.tab2 {
  padding-left: 40px;
}
.tab3 {
  padding-left: 60px;
}
ol.cfx li,
ul.cfx li {
  float: left;
}
ol {
  list-style: none;
}
textarea.opinion-form {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pc-display {
  display: block;
}
.sp-display,
.sp-indisplay {
  display: none;
}
@media (min-width: 767px) {
  .pc-block {
    display: block;
  }
  .pc-inblock {
    display: inline;
  }
}
@media (max-width: 767px) {
  .sp-block {
    display: block;
  }
  .pc-display,
  .pc-indisplay {
    display: none;
  }
  .sp-display {
    display: block;
  }
  .sp-indisplay {
    display: inline-block;
  }
}
#loader-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #071063 url("../img/common/conoha.png") no-repeat 0% 0%;
  background-size: 45% auto;
  z-index: 9998;
}
#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 15vw;
  height: 15vw;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 9999;
}
.loading {
  position: relative;
  width: 15vw;
  height: 15vw;
}
.loading::after {
  border-radius: 40%;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #e8a, rgba(250,238,255,0.3) 90%, rgba(230,238,255,0.5));
  animation: color-fade 3s infinite linear;
}
.loading__circle1,
.loading__circle2,
.loading__circle3 {
  opacity: 0.4;
  position: absolute;
  left: 0;
  background: #0af;
  width: 15vw;
  height: 15vw;
  transform-origin: 50% 47%;
  border-radius: 40%;
  animation: rotation 3s infinite linear;
}
.loading__circle2 {
  opacity: 0.2;
  background: #ff0;
  animation: rotation 5s infinite linear;
}
.loading__circle3 {
  animation: rotation 2.5s infinite linear;
}
.loading__title {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  z-index: 1;
  font-family: toroman;
  color: #fff;
  text-align: center;
  font-size: 2vw;
  line-height: 2rem;
  letter-spacing: 0.15em;
  animation: text-fade 300ms infinite linear;
  text-shadow: #ffa200 0.15vw 0.15vw 0px, #ffa200 -0.15vw 0.15vw 0px, #ffa200 0.15vw -0.15vw 0px, #ffa200 -0.15vw -0.15vw 0px, #ffa200 0vw 0.2vw 0px, #ffa200 -0.2vw 0vw 0px, #ffa200 0.2vw 0vw 0px, #ffa200 0vw -0.2vw 0px;
}
@-moz-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-moz-keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@-webkit-keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@-o-keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@-moz-keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@-webkit-keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@-o-keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@-moz-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes color-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@-webkit-keyframes color-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@-o-keyframes color-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@keyframes color-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@-moz-keyframes text-fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.6;
  }
}
@-webkit-keyframes text-fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.6;
  }
}
@-o-keyframes text-fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.6;
  }
}
@keyframes text-fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.6;
  }
}
body {
  font-size: 14px;
}
/*****-----------------------------------*****/
.header_wrapp {
  position: relative;
}
.header_wrapp .header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url("../img/index/header_back.jpg") no-repeat center top;
  background-size: cover;
  font-family: "851kktt";
}
.header_wrapp .header::before {
  content: "";
  position: absolute;
  z-index: 99;
  bottom: 0;
  width: 200%;
  height: 11vw;
  background-color: #fff;
  transform: skewY(-6deg);
}
.header_wrapp .header h1 {
  padding: 5% 8% 3% 8%;
  font-size: 3.6vw;
  color: #fff;
  line-height: 1.6;
}
.header_wrapp .header h1 span {
  font-size: 6vw;
}
.header_wrapp .header__image {
  position: absolute;
  width: 45%;
  top: 2%;
  right: 1%;
  z-index: 100;
}
.header_wrapp .header .diagnosis_start {
  position: relative;
  display: block;
  z-index: 100;
  top: 55%;
  left: 8%;
  width: 30vw;
  height: 30vw;
}
.header_wrapp .header .diagnosis_start .circle {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 0 0 20px;
  border: 0.8vw solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #ffa200;
}
.header_wrapp .header .diagnosis_start .circle__word {
  display: table-cell;
  vertical-align: middle;
  padding: 5%;
  box-sizing: border-box;
  line-height: 2;
  font-size: 2.8vw;
  font-weight: bold;
  color: #fff;
  text-shadow: #f01fdb 0.15vw 0.15vw 0px, #f01fdb -0.15vw 0.15vw 0px, #f01fdb 0.15vw -0.15vw 0px, #f01fdb -0.15vw -0.15vw 0px, #f01fdb 0vw 0.2vw 0px, #f01fdb -0.2vw 0vw 0px, #f01fdb 0.2vw 0vw 0px, #f01fdb 0vw -0.2vw 0px;
}
.header_wrapp .header .diagnosis_start .circle__image {
  position: absolute;
  bottom: 0%;
  left: 60%;
  width: 60%;
}
.header_wrapp .header .diagnosis_start .circle__image--content {
  width: 100%;
  height: auto;
}
/*****----------------------------------- description *****/
#description {
  background: #ffa200;
  margin: 2% 0 0;
  position: relative;
}
#description .title {
  position: relative;
  z-index: 3;
  background: #fff;
  overflow: hidden;
  width: 100%;
  height: 25vw;
  padding: 0 8%;
  box-sizing: border-box;
}
#description .title::before {
  content: "";
  position: absolute;
  z-index: 99;
  left: -1%;
  bottom: 0%;
  width: 200%;
  height: 11vw;
  background-color: #ffa200;
  transform: skewY(-6deg);
}
#description .title h2 {
  padding: 0 0 100px;
  font-size: 3.4vw;
  font-family: toroman;
  color: #fff;
  line-height: 1.6;
  letter-spacing: 0.2em;
  transform: skewY(-6deg);
  text-shadow: #ffa200 0.2vw 0.2vw 0px, #ffa200 -0.2vw 0.2vw 0px, #ffa200 0.2vw -0.2vw 0px, #ffa200 -0.2vw -0.2vw 0px, #ffa200 0vw 0.3vw 0px, #ffa200 -0.3vw 0vw 0px, #ffa200 0.3vw 0vw 0px, #ffa200 0vw -0.3vw 0px;
}
#description .text {
  position: relative;
  z-index: 3;
  width: 100%;
  color: #fff;
  padding: 0 15% 5%;
  background: url("../img/index/conoha_2.png") no-repeat;
  background-position: -85% 30%;
  background-attachment: fixed;
  background-size: 45% auto;
  box-sizing: border-box;
  overflow: hidden;
}
#description .text.back_move {
  background-position: -20% 30%;
  animation: back_image_move 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#description .text.back_remove {
  background-position: -85% 30%;
  animation: back_image_remove 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#description .text__inner {
  position: relative;
  margin: 5% 0 0;
  padding: 5%;
  background: rgba(43,48,42,0.6);
}
#description .text__inner h3 {
  font-size: 6vw;
  font-family: "851kktt";
  color: #ffa200;
  text-shadow: #fff 0.2vw 0.2vw 0px, #fff -0.2vw 0.2vw 0px, #fff 0.2vw -0.2vw 0px, #fff -0.2vw -0.2vw 0px, #fff 0vw 0.3vw 0px, #fff -0.3vw 0vw 0px, #fff 0.3vw 0vw 0px, #fff 0vw -0.3vw 0px;
}
#description .text__inner p {
  padding: 5% 0;
  font-size: 2.2vw;
  line-height: 1.8;
  letter-spacing: 0.2em;
}
#description .text__inner h4 {
  font-size: 4vw;
  padding: 3% 0;
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: #ffa200 0.15vw 0.15vw 0px, #ffa200 -0.15vw 0.15vw 0px, #ffa200 0.15vw -0.15vw 0px, #ffa200 -0.15vw -0.15vw 0px, #ffa200 0vw 0.2vw 0px, #ffa200 -0.2vw 0vw 0px, #ffa200 0.2vw 0vw 0px, #ffa200 0vw -0.2vw 0px;
}
#description .text__inner ul li {
  width: 85%;
  background: url("../img/index/check_icon.png") no-repeat left center;
  background-size: 8%;
  margin: 0 auto -3%;
  padding: 4% 0 4% 10%;
  box-sizing: border-box;
  font-size: 2.6vw;
}
#description .text__inner ul li .marker {
  background: #ffa200;
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
  color: #fff;
  z-index: 100;
}
#description .text__inner ul li .marker::before,
#description .text__inner ul li .marker::after {
  content: "";
  position: absolute;
  background: #ffa200;
  height: 0.99em;
  transform: skew(10deg);
  width: 1em;
  z-index: -1;
  top: 0;
}
#description .text__inner ul li .marker::before {
  left: -0.2em;
}
#description .text__inner ul li .marker::after {
  right: -0.2em;
}
#description .text__inner .link a {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 3%;
  color: #fff;
  background-color: #ffa200;
  box-sizing: border-box;
}
#description .comment {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
#description .comment__hukidashi1 {
  top: 17%;
  left: 37%;
  padding: 5.5% 1% 11% 5%;
  position: absolute;
  width: 28%;
  font-size: 2.4vw;
  line-height: 1.7;
  font-weight: bold;
  box-sizing: border-box;
}
#description .comment__hukidashi1.first {
  background: url("../img/index/balloon/balloon1.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi1.second {
  background: url("../img/index/balloon/balloon2.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi2 {
  top: 23%;
  left: 65%;
  padding: 8% 1% 13% 5%;
  position: absolute;
  width: 28%;
  font-size: 2.4vw;
  line-height: 1.7;
  font-weight: bold;
  box-sizing: border-box;
}
#description .comment__hukidashi2.first {
  background: url("../img/index/balloon/balloon1.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi2.second {
  background: url("../img/index/balloon/balloon2.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi3 {
  top: 32.5%;
  left: 37%;
  padding: 7.5% 1% 13% 5.5%;
  position: absolute;
  width: 38%;
  font-size: 2.4vw;
  line-height: 1.7;
  font-weight: bold;
  box-sizing: border-box;
}
#description .comment__hukidashi3.first {
  background: url("../img/index/balloon/balloon1.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi3.second {
  background: url("../img/index/balloon/balloon2.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi4 {
  top: 47%;
  left: 65%;
  padding: 8% 1% 13% 5%;
  position: absolute;
  width: 28%;
  font-size: 2.4vw;
  line-height: 1.7;
  font-weight: bold;
  box-sizing: border-box;
}
#description .comment__hukidashi4.first {
  background: url("../img/index/balloon/balloon1.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi4.second {
  background: url("../img/index/balloon/balloon2.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi5 {
  top: 62%;
  left: 62%;
  padding: 6.5% 1% 11% 5%;
  position: absolute;
  width: 28%;
  font-size: 2.4vw;
  line-height: 1.7;
  font-weight: bold;
  box-sizing: border-box;
}
#description .comment__hukidashi5.first {
  background: url("../img/index/balloon/balloon1.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi5.second {
  background: url("../img/index/balloon/balloon2.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi6 {
  top: 77%;
  left: 65%;
  padding: 7.5% 1% 13% 5%;
  position: absolute;
  width: 28%;
  font-size: 2.4vw;
  line-height: 1.7;
  font-weight: bold;
  box-sizing: border-box;
}
#description .comment__hukidashi6.first {
  background: url("../img/index/balloon/balloon1.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi6.second {
  background: url("../img/index/balloon/balloon2.png") no-repeat center top;
  background-size: 100% auto;
}
/*****----------------------------------- application *****/
#application {
  position: relative;
  overflow: hidden;
  width: 100vw;
  background: url("../img/index/app_back.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
#application::before {
  content: "";
  position: absolute;
  z-index: 99;
  left: -1%;
  top: 0%;
  width: 200%;
  height: 15vw;
  background-color: #ffa200;
  transform: skewY(6deg);
}
#application .title {
  position: relative;
  z-index: 95;
  background: #021969;
  overflow: hidden;
  width: 100%;
  height: 25vw;
  margin: 8% 0;
  padding: 0 8%;
  box-sizing: border-box;
  transform: skewY(6deg);
}
#application .title h2 {
  padding: 10% 0 0;
  font-size: 3.4vw;
  font-family: toroman;
  color: #021969;
  line-height: 1.6;
  letter-spacing: 0.2em;
  text-shadow: #fff 0.2vw 0.2vw 0px, #fff -0.2vw 0.2vw 0px, #fff 0.2vw -0.2vw 0px, #fff -0.2vw -0.2vw 0px, #fff 0vw 0.3vw 0px, #fff -0.3vw 0vw 0px, #fff 0.3vw 0vw 0px, #fff 0vw -0.3vw 0px;
}
#application .text {
  position: relative;
  z-index: 95;
  width: 100%;
  color: #000;
  padding: 0 15% 15%;
  box-sizing: border-box;
  overflow: hidden;
}
#application .text__inner {
  margin: 5% 0 0;
  padding: 5%;
  background: rgba(255,255,255,0.6);
}
#application .text__inner h3 {
  font-size: 6vw;
  font-family: "851kktt";
  color: #021969;
  text-shadow: #fff 0.2vw 0.2vw 0px, #fff -0.2vw 0.2vw 0px, #fff 0.2vw -0.2vw 0px, #fff -0.2vw -0.2vw 0px, #fff 0vw 0.3vw 0px, #fff -0.3vw 0vw 0px, #fff 0.3vw 0vw 0px, #fff 0vw -0.3vw 0px;
}
#application .text__inner p {
  padding: 5% 0;
  font-size: 2.2vw;
  line-height: 1.8;
  letter-spacing: 0.2em;
}
#application .text__inner h4 {
  font-size: 4vw;
  padding: 3% 0;
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: #021969 0.15vw 0.15vw 0px, #021969 -0.15vw 0.15vw 0px, #021969 0.15vw -0.15vw 0px, #021969 -0.15vw -0.15vw 0px, #021969 0vw 0.2vw 0px, #021969 -0.2vw 0vw 0px, #021969 0.2vw 0vw 0px, #021969 0vw -0.2vw 0px;
}
#application .text__inner ul {
  padding: 3% 0 2%;
}
#application .text__inner ul li {
  width: 22%;
  margin: 0 4% 4% 0;
}
#application .text__inner ul li .list_img img {
  width: 80%;
  text-align: center;
}
#application .text__inner ul li .list_text,
#application .text__inner ul li:nth-child(4n) {
  margin: 0 0 4% 0;
}
#application .text__inner .link a {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 3%;
  color: #fff;
  background-color: #021969;
  box-sizing: border-box;
}
#application .text__inner .link a.blank {
  background-image: url("../img/index/external.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: 10% auto;
}
#application .comment {
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 90;
  width: 90%;
  padding: 50% 0 0;
}
#application .comment_wrap01 {
  margin: 0;
}
#application .comment_wrap01 p {
  width: 65%;
  margin: 7% 0 1% 5%;
}
#application .comment_wrap02 {
  margin: 10% 0 0;
}
#application .comment_wrap02 p {
  width: 56%;
  margin: 10% 0 1% 12%;
}
#application .comment_wrap03 {
  margin: 63% 0 0;
}
#application .comment_wrap03 p {
  width: 63%;
  margin: 10% 0 1% 5%;
}
#application .comment_wrap04 {
  margin: 7% 0 0;
}
#application .comment_wrap04 p {
  width: 61%;
  margin: 10% 0 1% 5%;
}
#application .comment_wrap05 {
  margin: 21% 0 0;
}
#application .comment_wrap05 p {
  width: 65%;
  margin: 10% 0 1% 5%;
}
#application .comment .right_conoha img,
#application .comment .left_conoha img {
  display: block;
  width: 30%;
}
#application .comment .right_conoha p,
#application .comment .left_conoha p {
  background: #fff;
  font-size: 4vw;
  color: #ffa200;
  line-height: 1.7;
  border: 0.5vw solid #ffa200;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 4% 3%;
}
#application .comment .right_conoha img {
  float: right;
}
#application .comment .right_conoha p {
  float: left;
}
#application .comment .left_conoha img {
  float: left;
}
#application .comment .left_conoha p {
  float: left;
}
/*****----------------------------------- constitution *****/
#constitution {
  width: 100vw;
  background: #48f7f2;
}
#constitution .title {
  position: relative;
  background: #06abbf;
  width: 100%;
  height: 25vw;
  margin: -6% 0 8%;
  padding: 0 8%;
  box-sizing: border-box;
  transform: skewY(-6deg);
}
#constitution .title h2 {
  padding: 10% 0 0;
  font-size: 3.4vw;
  font-family: toroman;
  color: #06abbf;
  line-height: 1.6;
  letter-spacing: 0.2em;
  text-shadow: #fff 0.2vw 0.2vw 0px, #fff -0.2vw 0.2vw 0px, #fff 0.2vw -0.2vw 0px, #fff -0.2vw -0.2vw 0px, #fff 0vw 0.3vw 0px, #fff -0.3vw 0vw 0px, #fff 0.3vw 0vw 0px, #fff 0vw -0.3vw 0px;
}
#constitution .text {
  position: relative;
  width: 100%;
  color: #000;
  padding: 0 15% 15%;
  box-sizing: border-box;
  overflow: hidden;
}
#constitution .text__inner {
  margin: 5% 0 0;
  padding: 5%;
  background: rgba(255,255,255,0.6);
}
#constitution .text__inner h3 {
  font-size: 6vw;
  font-family: "851kktt";
  color: #06abbf;
  text-shadow: #fff 0.2vw 0.2vw 0px, #fff -0.2vw 0.2vw 0px, #fff 0.2vw -0.2vw 0px, #fff -0.2vw -0.2vw 0px, #fff 0vw 0.3vw 0px, #fff -0.3vw 0vw 0px, #fff 0.3vw 0vw 0px, #fff 0vw -0.3vw 0px;
}
#constitution .text__inner p {
  padding: 5% 0;
  font-size: 2.2vw;
  line-height: 1.8;
  letter-spacing: 0.2em;
}
#constitution .text__inner p.marker_title {
  padding: 5% 0 0;
  font-size: 3vw;
}
#constitution .text__inner h4 {
  font-size: 4vw;
  padding: 3% 0;
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: #06abbf 0.15vw 0.15vw 0px, #06abbf -0.15vw 0.15vw 0px, #06abbf 0.15vw -0.15vw 0px, #06abbf -0.15vw -0.15vw 0px, #06abbf 0vw 0.2vw 0px, #06abbf -0.2vw 0vw 0px, #06abbf 0.2vw 0vw 0px, #06abbf 0vw -0.2vw 0px;
}
#constitution .text__inner table {
  width: 80%;
  margin: 0 auto;
}
#constitution .text__inner table .table__title th {
  padding: 3%;
  color: #21b8d7;
  font-size: 2.4vw;
  font-weight: normal;
  background: #414141;
  box-sizing: border-box;
  line-height: 1.6;
}
#constitution .text__inner table .table__title th.active {
  color: #fff;
  background: #21b8d7;
}
#constitution .text__inner table .table__title th span {
  font-size: 4vw;
  font-weight: bold;
  padding: 0 2% 0 0;
}
#constitution .text__inner table .table__text {
  background: #fff;
}
#constitution .text__inner table .table__text th {
  width: 50%;
  padding: 3% 10% 3% 0;
  font-size: 2vw;
  color: #21b8d7;
  text-align: right;
  box-sizing: border-box;
}
#constitution .text__inner table .table__text td {
  width: 50%;
  padding: 0 0 0 10%;
  font-size: 2vw;
  text-align: left;
  box-sizing: border-box;
}
#constitution .text__inner ul {
  padding: 0 0 5%;
}
#constitution .text__inner ul li {
  width: 80%;
  background: url("../img/index/check_icon.png") no-repeat left center;
  background-size: 8%;
  margin: 0 auto -3%;
  padding: 4% 0 4% 10%;
  box-sizing: border-box;
  font-size: 2.2vw;
}
#constitution .text__inner ul li .marker {
  background: #21b8d7;
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
  color: #fff;
  z-index: 100;
}
#constitution .text__inner ul li .marker::before,
#constitution .text__inner ul li .marker::after {
  content: "";
  position: absolute;
  background: #21b8d7;
  height: 0.99em;
  transform: skew(10deg);
  width: 1em;
  z-index: -1;
  top: 0;
}
#constitution .text__inner ul li .marker::before {
  left: -0.2em;
}
#constitution .text__inner ul li .marker::after {
  right: -0.2em;
}
#constitution .text__inner .link a {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 3%;
  color: #fff;
  background-color: #21b8d7;
  box-sizing: border-box;
}
#constitution .text__inner .link a.blank {
  background-image: url("../img/index/external.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: 10% auto;
}
/*****----------------------------------- diagnosis *****/
#diagnosis {
  position: relative;
  width: 100vw;
  background: #fffc00;
}
#diagnosis::before {
  content: "";
  position: absolute;
  z-index: 99;
  left: -1%;
  top: -5%;
  width: 101%;
  height: 8vw;
  background-color: #ffa200;
  transform: skewY(6deg);
}
#diagnosis .title {
  position: relative;
  background: #ffa200;
  width: 100%;
  height: 20vw;
  margin: 0 0 8%;
  padding: 0 8%;
  box-sizing: border-box;
  transform: skewY(6deg);
}
#diagnosis .title h2 {
  padding: 3% 0 0;
  font-size: 3.4vw;
  font-family: toroman;
  color: #ffa200;
  line-height: 1.6;
  letter-spacing: 0.2em;
  text-shadow: #fff 0.2vw 0.2vw 0px, #fff -0.2vw 0.2vw 0px, #fff 0.2vw -0.2vw 0px, #fff -0.2vw -0.2vw 0px, #fff 0vw 0.3vw 0px, #fff -0.3vw 0vw 0px, #fff 0.3vw 0vw 0px, #fff 0vw -0.3vw 0px;
}
#diagnosis .text {
  position: relative;
  width: 100%;
  color: #000;
  padding: 0 15%;
  background: url("../img/index/conoha_3.png") no-repeat 140% bottom;
  background-size: 70% auto;
  box-sizing: border-box;
  overflow: hidden;
}
#diagnosis .text__inner {
  margin: 5% 0 80%;
  padding: 5%;
  background: rgba(255,255,255,0.6);
}
#diagnosis .text__inner h3 {
  font-size: 6vw;
  font-family: "851kktt";
  color: #ffa200;
  text-shadow: #fff 0.2vw 0.2vw 0px, #fff -0.2vw 0.2vw 0px, #fff 0.2vw -0.2vw 0px, #fff -0.2vw -0.2vw 0px, #fff 0vw 0.3vw 0px, #fff -0.3vw 0vw 0px, #fff 0.3vw 0vw 0px, #fff 0vw -0.3vw 0px;
}
#diagnosis .text__inner p {
  padding: 5% 0;
  font-size: 2.2vw;
  line-height: 1.8;
  letter-spacing: 0.2em;
}
#diagnosis .text__inner p.marker_title {
  padding: 5% 0 0;
  font-size: 3vw;
}
#diagnosis .text__inner h4 {
  font-size: 4vw;
  padding: 3% 0;
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: #06abbf 0.15vw 0.15vw 0px, #06abbf -0.15vw 0.15vw 0px, #06abbf 0.15vw -0.15vw 0px, #06abbf -0.15vw -0.15vw 0px, #06abbf 0vw 0.2vw 0px, #06abbf -0.2vw 0vw 0px, #06abbf 0.2vw 0vw 0px, #06abbf 0vw -0.2vw 0px;
}
#diagnosis .label {
  position: absolute;
  top: 50%;
  left: 2%;
}
#diagnosis .label p a {
  display: block;
  width: 55vw;
  padding: 16% 10% 32% 10%;
  background: url("../img/index/balloon/balloon3.png") no-repeat;
  background-size: 100% auto;
  box-sizing: border-box;
  font-size: 4vw;
  line-height: 1.7;
  color: #000;
}
/*****-----------------------------------*****/
