/* ----------------------------------------
fileName : result.styl
writer   : Daichi Seki, Miwa Shuntaro

-- 結果ページstylの記入
---------------------------------------- */
body {
  font-size: 14px;
}
/*****-----------------------------------*****/
/*****-----------------------------------*****/
@media screen and (max-width: 999px) {
  body {
    width: 1000px;
  }
  .header_wrapp .diagnosis_start {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  body {
    display: none;
  }
}
