/* ----------------------------------------
fileName : style.scss
writer   : Daichi Seki, Miwa Shuntaro
---------------------------------------- */
@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
@media screen and (min-width: 767px) {
  a:hover {
    opacity: 0.8;
  }
}
@font-face {
  font-family: "zou";
  src: url("../fonts/002zou-Regular.otf") format('woff'), url("../fonts/002zou-Regular.otf") format('truetype');
}
body {
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.flex-row {
  flex: row;
}
.flex-column {
  flex: column;
}
.flex-row-reverse {
  flex: row-reverse;
}
.flex-column-reverse {
  flex: column-reverse;
}
.txL {
  text-align: left;
}
.txC {
  text-align: center;
}
.txR {
  text-align: right;
}
.tab1 {
  padding-left: 20px;
}
.tab2 {
  padding-left: 40px;
}
.tab3 {
  padding-left: 60px;
}
ol.cfx li,
ul.cfx li {
  float: left;
}
ol {
  list-style: none;
}
textarea.opinion-form {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pc-display {
  display: block;
}
.sp-display,
.sp-indisplay {
  display: none;
}
@media (min-width: 767px) {
  .pc-block {
    display: block;
  }
  .pc-inblock {
    display: inline;
  }
}
@media (max-width: 767px) {
  .sp-block {
    display: block;
  }
  .pc-display,
  .pc-indisplay {
    display: none;
  }
  .sp-display {
    display: block;
  }
  .sp-indisplay {
    display: inline-block;
  }
}
body {
  font-size: 14px;
}
/*****-----------------------------------*****/
.header_wrapp {
  position: relative;
}
.header_wrapp .header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.header_wrapp .header::before {
  content: "";
  position: absolute;
  z-index: 99;
  bottom: 0;
  width: 200%;
  height: 200px;
  background-color: #fff;
  transform: skewY(-6deg);
}
.header_wrapp .header__image {
  width: 100%;
  height: auto;
}
.header_wrapp .diagnosis_start {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 10%;
  width: calc(100vmin - 700px);
  min-width: 300px;
  height: calc(100vmin - 700px);
  min-height: 300px;
}
.header_wrapp .diagnosis_start .circle {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 0 0 20px;
  border: 8px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #ffa200;
}
.header_wrapp .diagnosis_start .circle__word {
  display: table-cell;
  vertical-align: middle;
  line-height: 2;
  font-size: 2.6em;
  font-weight: bold;
  color: #fff;
}
.header_wrapp .diagnosis_start .circle__image {
  position: absolute;
  bottom: 2%;
  left: 54%;
  width: 60%;
}
.header_wrapp .diagnosis_start .circle__image--content {
  width: 100%;
  height: auto;
}
/*****-----------------------------------*****/
#description {
  margin: 50px 0 0;
}
#description h2 {
  padding: 0 0 100px;
  font-size: 3.4em;
  color: #ffa200;
  line-height: 1.6;
  letter-spacing: 0.2em;
}
#description p {
  padding: 0 0 100px;
  font-size: 2.2em;
  line-height: 1.7;
  letter-spacing: 0.2em;
}
/*****-----------------------------------*****/
#diagnosis {
  background: url("../img/index/konoha.png") no-repeat 90% 75%;
  background-size: 25% auto;
  width: 100%;
  height: 22vw;
  margin: 0 auto 150px;
  padding: 15% 0 5%;
  position: relative;
  overflow: hidden;
}
#diagnosis .start {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
#diagnosis .start a {
  display: block;
  width: 60%;
  font-size: 4em;
  color: #000;
  border: 2px solid #000;
  padding: 3%;
  text-align: center;
  box-sizing: border-box;
}
#diagnosis .start a span.large {
  color: #ffa200;
font-size7vw
}
#diagnosis .diagnosis_wrap1 {
  width: 220%;
  height: 10%;
  margin: 10% 0 0 -10%;
  text-align: center;
  background: #fff;
  box-shadow: 0px 1.2vw 0px 0px #2576c2 inset, 0px -1.2vw 0px 0px #2576c2 inset;
  position: absolute;
  top: 0%;
  z-index: 100;
  transform: rotate(3deg);
}
#diagnosis .diagnosis_wrap2 {
  width: 220%;
  height: 10%;
  margin: 10% 0 0 -10%;
  text-align: center;
  background: #fff;
  box-shadow: 0px 1.2vw 0px 0px #2576c2 inset, 0px -1.2vw 0px 0px #2576c2 inset;
  position: absolute;
  top: 65%;
  z-index: 100;
  transform: rotate(3deg);
}
/*****-----------------------------------*****/
@media screen and (max-width: 999px) {
  body {
    width: 1000px;
  }
  .header_wrapp .diagnosis_start {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  body {
    display: none;
  }
}
