/* ----------------------------------------
fileName  _hover.styl
writer    Daichi Seki, Miwa Shuntaro

-- hover時の効果を格納
(sp時にhoverをなくすため)
---------------------------------------- */
// @media screen and (min-width: 767px)
.back_rote
  position relative
  z-index 2
  overflow hidden
  &::before,&::after
    content ''
    position absolute
    z-index -1
    display block
    overflow hidden
    transition all .5s

  &::after
    top 0
    left 0
    width 100%
    height 100%

  &:hover::after
    transform scale(2) rotate(180deg)
    background #333

.back_rote2
  position relative
  z-index 2
  overflow hidden
  &::before,&::after
    content ''
    position absolute
    z-index -1
    display block
    overflow hidden
    transition all .5s
  &:hover
    color #000 !important

  &::after
    top 0
    left 0
    width 100%
    height 100%

  &:hover::after
    transform scale(2) rotate(180deg)
    background #ddd

.back_rote
  position relative
  z-index 2
  overflow hidden
  &::before,&::after
    content ''
    position absolute
    z-index -1
    display block
    overflow hidden
    transition all .5s

  &::after
    top 0
    left 0
    width 100%
    height 100%

  &:hover::after
    transform scale(2) rotate(180deg)
    background #333

.back_window
  position relative
  z-index 2
  overflow hidden
  &::before,&::after
    content ''
    position absolute
    z-index -1
    display block
    overflow hidden
    transition all .5s
  &::after
    top -100%
    left -100%
    width 100%
    height 100%
  &:hover::after
    top 0
    left 0
    background #333 url(../img/index/external.png) no-repeat
    background-position 96% center
    background-size 10% auto

.back_window2
  position relative
  z-index 2
  overflow hidden
  &::before,&::after
    content ''
    position absolute
    z-index -1
    display block
    overflow hidden
    transition all .5s
  &:hover
    color #000 !important
  &::after
    top -100%
    left -100%
    width 100%
    height 100%
  &:hover::after
    top 0
    left 0
    background #ddd url(../img/index/external.png) no-repeat
    background-position 96% center
    background-size 10% auto

//一番下の吹き出し
.bound_balloon
  transition all .5s cubic-bezier(0.650, -0.600, 0.295, 1.650)
  &:hover
    transform scale(1.05)

//ここからspの場合
// @media screen and (max-width: 767px)
