/* ----------------------------------------
fileName : _keyframes.styl
writer   : Daichi Seki, Miwa Shuntaro
---------------------------------------- */

//fadein
@keyframes fadeIn
  0%
    display none
    opacity 0
  1%
    display block
    opacity 0
  100%
    display block
    opacity 1

//Conohaちゃんスクロールで移動(表示)
@keyframes back_image_move
  0%
    background-position -85% 30%
  1%
    background-position -85% 30%
  100%
    background-position -20% 30%

//Conohaちゃんスクロールで移動(非表示)
@keyframes back_image_remove
  0%
    background-position -20% 30%
  1%
    background-position -20% 30%
  100%
    background-position -85% 30%

@keyframes start_btn_active
  0%
    opacity 0 !important
    transform translateY(60px) !important
  1%
    opacity 0 !important
    transform translateY(60px) !important
  100%
    opacity 1 !important
    transform translateY(0) !important


// 回転アニメーション
@keyframes rotation
  from
    transform rotate(0deg)

  to
    transform rotate(360deg)


// ピンク色の背景のアニメーション
@keyframes color-fade
  0%
    opacity 1

  50%
    opacity .7


// 点滅のアニメーション
@keyframes text-fade
  0%
    opacity 1

  25%
    opacity .8

  50%
    opacity .9

  75%
    opacity .6
