/* ----------------------------------------
fileName  _mixin.scss
writer    Daichi Seki, Miwa Shuntaro

-- 各種mixinを格納
---------------------------------------- */

/*****----------------------------------- topページ *****/
white_bar(color1)
  width 200%
  height 20%
  text-align center
  background color1
  transform rotate(-5deg)

double_line(color1,price,color2)
  width 220%
  height 10%
  margin 10% 0 0 -10%
  text-align center
  background color1
  box-shadow 0px 1.2vw 0px 0px color2 inset,0px -1.2vw 0px 0px color2 inset
  position absolute
  top price
  z-index 100
  transform rotate(3deg)
//吹き出し
hukidashi(top_posi,left_posi,pa_t,pa_r,pa_b,pa_l,hukidashi_size)
  top top_posi
  left left_posi
  padding pa_t pa_r pa_b pa_l
  position absolute
  width hukidashi_size
  font-size 2.4vw
  line-height 1.7
  font-weight bold
  box-sizing border-box
  //画像の種類
  &.first
    background url(../img/index/balloon/balloon1.png) no-repeat center top
    background-size 100% auto
  &.second
    background url(../img/index/balloon/balloon2.png) no-repeat center top
    background-size 100% auto
//輪郭
contour(contour_color)
  text-shadow contour_color 0.15vw 0.15vw 0px, contour_color -0.15vw 0.15vw 0px,
              contour_color 0.15vw -0.15vw 0px, contour_color -0.15vw -0.15vw 0px,
              contour_color 0vw 0.2vw 0px, contour_color -0.2vw 0vw 0px,
              contour_color 0.2vw 0vw 0px, contour_color -0vw -0.2vw 0px;
//輪郭2
contour2(contour_color)
  text-shadow contour_color 0.2vw 0.2vw 0px, contour_color -0.2vw 0.2vw 0px,
              contour_color 0.2vw -0.2vw 0px, contour_color -0.2vw -0.2vw 0px,
              contour_color 0vw 0.3vw 0px, contour_color -0.3vw 0vw 0px,
              contour_color 0.3vw 0vw 0px, contour_color -0vw -0.3vw 0px;
link_btn(font_color,back_color)
  display block
  width 50%
  margin 0 auto
  padding 3%
  color font_color
  background-color back_color
  box-sizing border-box
/*****----------------------------------- contentsページ *****/


middle-line($height)
  height $height vh
  line-height $height vh
