/* ----------------------------------------
fileName  _mixin.scss
writer    Daichi Seki, Miwa Shuntaro

-- 各種mixinを格納
---------------------------------------- */

/*****----------------------------------- topページ *****/
white_bar(color1)
  width 200%
  height 20%
  text-align center
  background color1
  transform rotate(-5deg)

double_line(color1,price,color2)
  width 220%
  height 10%
  margin 10% 0 0 -10%
  text-align center
  background color1
  box-shadow 0px 1.2vw 0px 0px color2 inset,0px -1.2vw 0px 0px color2 inset
  position absolute
  top price
  z-index 100
  transform rotate(3deg)

/*****----------------------------------- contentsページ *****/
