/* ----------------------------------------
fileName : _variables.styl
writer   : Daichi Seki, Miwa Shuntaro

-- 各種変数・カラーコードを格納
---------------------------------------- */

main_color = #ffa200
nav_active = #78dbc6

plan_color = #21b8d7
