/* ----------------------------------------
fileName : style.scss
writer   : Daichi Seki, Miwa Shuntaro
---------------------------------------- */
@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
@media screen and (min-width: 767px) {
  a:hover {
    opacity: 0.8;
  }
}
@font-face {
  font-family: "851kktt";
  src: url("../fonts/851H-kktt.ttf") format('woff'), url("../fonts/851H-kktt.ttf") format('truetype');
}
@font-face {
  font-family: "toroman";
  src: url("../fonts/toroman.ttf") format('woff'), url("../fonts/toroman.ttf") format('truetype');
}
body {
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.cfx:after {
  content: "";
  display: block;
  clear: both;
}
.flL {
  float: left;
}
.flR {
  float: right;
}
.flex-row {
  flex: row;
}
.flex-column {
  flex: column;
}
.flex-row-reverse {
  flex: row-reverse;
}
.flex-column-reverse {
  flex: column-reverse;
}
.txL {
  text-align: left;
}
.txC {
  text-align: center;
}
.txR {
  text-align: right;
}
.tab1 {
  padding-left: 20px;
}
.tab2 {
  padding-left: 40px;
}
.tab3 {
  padding-left: 60px;
}
ol.cfx li,
ul.cfx li {
  float: left;
}
ol {
  list-style: none;
}
textarea.opinion-form {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pc-display {
  display: block;
}
.sp-display,
.sp-indisplay {
  display: none;
}
@media (min-width: 767px) {
  .pc-block {
    display: block;
  }
  .pc-inblock {
    display: inline;
  }
}
@media (max-width: 767px) {
  .sp-block {
    display: block;
  }
  .pc-display,
  .pc-indisplay {
    display: none;
  }
  .sp-display {
    display: block;
  }
  .sp-indisplay {
    display: inline-block;
  }
}
@-moz-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
body {
  font-size: 14px;
}
/*****-----------------------------------*****/
.header_wrapp {
  position: relative;
}
.header_wrapp .header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url("../img/index/header_back.jpg") no-repeat center top;
  background-size: cover;
  font-family: "851kktt";
}
.header_wrapp .header::before {
  content: "";
  position: absolute;
  z-index: 99;
  bottom: 0;
  width: 200%;
  height: 11vw;
  background-color: #fff;
  transform: skewY(-6deg);
}
.header_wrapp .header h1 {
  padding: 5% 8% 3% 8%;
  font-size: 3.6vw;
  color: #fff;
  line-height: 1.6;
}
.header_wrapp .header h1 span {
  font-size: 6vw;
}
.header_wrapp .header__image {
  position: absolute;
  width: 45%;
  top: 2%;
  right: 1%;
  z-index: 100;
}
.header_wrapp .header .diagnosis_start {
  position: relative;
  display: block;
  z-index: 100;
  top: 55%;
  left: 8%;
  width: 30vw;
  height: 30vw;
}
.header_wrapp .header .diagnosis_start .circle {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 0 0 20px;
  border: 8px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #ffa200;
}
.header_wrapp .header .diagnosis_start .circle__word {
  display: table-cell;
  vertical-align: middle;
  padding: 5%;
  box-sizing: border-box;
  line-height: 2;
  font-size: 2.8vw;
  font-weight: bold;
  color: #fff;
  text-shadow: #f01fdb 0.15vw 0.15vw 0px, #f01fdb -0.15vw 0.15vw 0px, #f01fdb 0.15vw -0.15vw 0px, #f01fdb -0.15vw -0.15vw 0px, #f01fdb 0vw 0.2vw 0px, #f01fdb -0.2vw 0vw 0px, #f01fdb 0.2vw 0vw 0px, #f01fdb 0vw -0.2vw 0px;
}
.header_wrapp .header .diagnosis_start .circle__image {
  position: absolute;
  bottom: 0%;
  left: 60%;
  width: 60%;
}
.header_wrapp .header .diagnosis_start .circle__image--content {
  width: 100%;
  height: auto;
}
/*****----------------------------------- description *****/
#description {
  background: #ffa200;
  margin: 2% 0 0;
  position: relative;
}
#description .title {
  position: relative;
  z-index: 3;
  background: #fff;
  overflow: hidden;
  width: 100%;
  height: 25vw;
  padding: 0 8%;
  box-sizing: border-box;
}
#description .title::before {
  content: "";
  position: absolute;
  z-index: 99;
  left: -1%;
  bottom: 0%;
  width: 200%;
  height: 11vw;
  background-color: #ffa200;
  transform: skewY(-6deg);
}
#description .title h2 {
  padding: 0 0 100px;
  font-size: 3.4vw;
  font-family: toroman;
  color: #fff;
  line-height: 1.6;
  letter-spacing: 0.2em;
  transform: skewY(-6deg);
  text-shadow: #ffa200 0.2vw 0.2vw 0px, #ffa200 -0.2vw 0.2vw 0px, #ffa200 0.2vw -0.2vw 0px, #ffa200 -0.2vw -0.2vw 0px, #ffa200 0vw 0.3vw 0px, #ffa200 -0.3vw 0vw 0px, #ffa200 0.3vw 0vw 0px, #ffa200 0vw -0.3vw 0px;
}
#description .text {
  position: relative;
  z-index: 3;
  width: 100%;
  color: #fff;
  padding: 0 15% 5%;
  background: url("../img/index/conoha_2.png") no-repeat -20% 30%;
  background-attachment: fixed;
  background-size: 45% auto;
  box-sizing: border-box;
  overflow: hidden;
}
#description .text__inner {
  position: relative;
  margin: 5% 0 0;
  padding: 5%;
  background: rgba(43,48,42,0.6);
}
#description .text__inner h3 {
  font-size: 6vw;
  font-family: "851kktt";
  color: #ffa200;
  text-shadow: #fff 0.2vw 0.2vw 0px, #fff -0.2vw 0.2vw 0px, #fff 0.2vw -0.2vw 0px, #fff -0.2vw -0.2vw 0px, #fff 0vw 0.3vw 0px, #fff -0.3vw 0vw 0px, #fff 0.3vw 0vw 0px, #fff 0vw -0.3vw 0px;
}
#description .text__inner p {
  padding: 5% 0;
  font-size: 2.2vw;
  line-height: 1.8;
  letter-spacing: 0.2em;
}
#description .text__inner h4 {
  font-size: 4vw;
  padding: 3% 0;
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: #ffa200 0.15vw 0.15vw 0px, #ffa200 -0.15vw 0.15vw 0px, #ffa200 0.15vw -0.15vw 0px, #ffa200 -0.15vw -0.15vw 0px, #ffa200 0vw 0.2vw 0px, #ffa200 -0.2vw 0vw 0px, #ffa200 0.2vw 0vw 0px, #ffa200 0vw -0.2vw 0px;
}
#description .text__inner ul li {
  width: 85%;
  background: url("../img/index/check_icon.png") no-repeat left center;
  background-size: 8%;
  margin: 0 auto -3%;
  padding: 4% 0 4% 10%;
  box-sizing: border-box;
  font-size: 2.6vw;
}
#description .text__inner ul li .marker {
  background: #ffa200;
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
  color: #fff;
  z-index: 100;
}
#description .text__inner ul li .marker::before,
#description .text__inner ul li .marker::after {
  content: "";
  position: absolute;
  background: #ffa200;
  height: 0.99em;
  transform: skew(10deg);
  width: 1em;
  z-index: -1;
  top: 0;
}
#description .text__inner ul li .marker::before {
  left: -0.2em;
}
#description .text__inner ul li .marker::after {
  right: -0.2em;
}
#description .text__inner .link a {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 3%;
  color: #fff;
  background-color: #ffa200;
  box-sizing: border-box;
}
#description .comment {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
#description .comment__hukidashi1 {
  top: 17%;
  left: 37%;
  padding: 5.5% 1% 11% 5%;
  position: absolute;
  width: 28%;
  font-size: 2.4vw;
  line-height: 1.7;
  font-weight: bold;
  box-sizing: border-box;
}
#description .comment__hukidashi1.first {
  background: url("../img/index/balloon/balloon1.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi1.second {
  background: url("../img/index/balloon/balloon2.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi2 {
  top: 23%;
  left: 65%;
  padding: 8% 1% 13% 5%;
  position: absolute;
  width: 28%;
  font-size: 2.4vw;
  line-height: 1.7;
  font-weight: bold;
  box-sizing: border-box;
}
#description .comment__hukidashi2.first {
  background: url("../img/index/balloon/balloon1.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi2.second {
  background: url("../img/index/balloon/balloon2.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi3 {
  top: 32%;
  left: 37%;
  padding: 7.5% 1% 13% 5.5%;
  position: absolute;
  width: 38%;
  font-size: 2.4vw;
  line-height: 1.7;
  font-weight: bold;
  box-sizing: border-box;
}
#description .comment__hukidashi3.first {
  background: url("../img/index/balloon/balloon1.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi3.second {
  background: url("../img/index/balloon/balloon2.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi4 {
  top: 46%;
  left: 65%;
  padding: 8% 1% 13% 5%;
  position: absolute;
  width: 28%;
  font-size: 2.4vw;
  line-height: 1.7;
  font-weight: bold;
  box-sizing: border-box;
}
#description .comment__hukidashi4.first {
  background: url("../img/index/balloon/balloon1.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi4.second {
  background: url("../img/index/balloon/balloon2.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi5 {
  top: 59%;
  left: 62%;
  padding: 6.5% 1% 11% 5%;
  position: absolute;
  width: 28%;
  font-size: 2.4vw;
  line-height: 1.7;
  font-weight: bold;
  box-sizing: border-box;
}
#description .comment__hukidashi5.first {
  background: url("../img/index/balloon/balloon1.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi5.second {
  background: url("../img/index/balloon/balloon2.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi6 {
  top: 74%;
  left: 65%;
  padding: 7.5% 1% 13% 5%;
  position: absolute;
  width: 28%;
  font-size: 2.4vw;
  line-height: 1.7;
  font-weight: bold;
  box-sizing: border-box;
}
#description .comment__hukidashi6.first {
  background: url("../img/index/balloon/balloon1.png") no-repeat center top;
  background-size: 100% auto;
}
#description .comment__hukidashi6.second {
  background: url("../img/index/balloon/balloon2.png") no-repeat center top;
  background-size: 100% auto;
}
/*****----------------------------------- application *****/
#application {
  position: relative;
  overflow: hidden;
  width: 100vw;
  background: url("../img/index/app_back.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
#application::before {
  content: "";
  position: absolute;
  z-index: 99;
  left: -1%;
  top: 0%;
  width: 200%;
  height: 15vw;
  background-color: #ffa200;
  transform: skewY(6deg);
}
#application .title {
  position: relative;
  background: #021969;
  overflow: hidden;
  width: 100%;
  height: 25vw;
  margin: 8% 0;
  padding: 0 8%;
  box-sizing: border-box;
  transform: skewY(6deg);
}
#application .title h2 {
  padding: 10% 0 0;
  font-size: 3.4vw;
  font-family: toroman;
  color: #021969;
  line-height: 1.6;
  letter-spacing: 0.2em;
  text-shadow: #fff 0.2vw 0.2vw 0px, #fff -0.2vw 0.2vw 0px, #fff 0.2vw -0.2vw 0px, #fff -0.2vw -0.2vw 0px, #fff 0vw 0.3vw 0px, #fff -0.3vw 0vw 0px, #fff 0.3vw 0vw 0px, #fff 0vw -0.3vw 0px;
}
#application .text {
  position: relative;
  width: 100%;
  color: #000;
  padding: 0 15% 15%;
  box-sizing: border-box;
  overflow: hidden;
}
#application .text__inner {
  margin: 5% 0 0;
  padding: 5%;
  background: rgba(255,255,255,0.6);
}
#application .text__inner h3 {
  font-size: 6vw;
  font-family: "851kktt";
  color: #021969;
  text-shadow: #fff 0.2vw 0.2vw 0px, #fff -0.2vw 0.2vw 0px, #fff 0.2vw -0.2vw 0px, #fff -0.2vw -0.2vw 0px, #fff 0vw 0.3vw 0px, #fff -0.3vw 0vw 0px, #fff 0.3vw 0vw 0px, #fff 0vw -0.3vw 0px;
}
#application .text__inner p {
  padding: 5% 0;
  font-size: 2.2vw;
  line-height: 1.8;
  letter-spacing: 0.2em;
}
#application .text__inner h4 {
  font-size: 4vw;
  padding: 3% 0;
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: #021969 0.15vw 0.15vw 0px, #021969 -0.15vw 0.15vw 0px, #021969 0.15vw -0.15vw 0px, #021969 -0.15vw -0.15vw 0px, #021969 0vw 0.2vw 0px, #021969 -0.2vw 0vw 0px, #021969 0.2vw 0vw 0px, #021969 0vw -0.2vw 0px;
}
#application .text__inner ul {
  padding: 3% 0 2%;
}
#application .text__inner ul li {
  width: 22%;
  margin: 0 4% 4% 0;
}
#application .text__inner ul li .list_img img {
  width: 80%;
  text-align: center;
}
#application .text__inner ul li .list_text,
#application .text__inner ul li:nth-child(4n) {
  margin: 0 0 4% 0;
}
#application .text__inner .link a {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 3%;
  color: #fff;
  background-color: #021969;
  box-sizing: border-box;
  background-image: url("../img/index/external.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: 10% auto;
}
/*****----------------------------------- constitution *****/
#constitution {
  background: #48f7f2;
}
#constitution .title {
  position: relative;
  background: #06abbf;
  width: 100%;
  height: 25vw;
  margin: -6% 0 8%;
  padding: 0 8%;
  box-sizing: border-box;
  transform: skewY(-6deg);
}
#constitution .title h2 {
  padding: 10% 0 0;
  font-size: 3.4vw;
  font-family: toroman;
  color: #06abbf;
  line-height: 1.6;
  letter-spacing: 0.2em;
  text-shadow: #fff 0.2vw 0.2vw 0px, #fff -0.2vw 0.2vw 0px, #fff 0.2vw -0.2vw 0px, #fff -0.2vw -0.2vw 0px, #fff 0vw 0.3vw 0px, #fff -0.3vw 0vw 0px, #fff 0.3vw 0vw 0px, #fff 0vw -0.3vw 0px;
}
#constitution .text {
  position: relative;
  width: 100%;
  color: #000;
  padding: 0 15% 10%;
  box-sizing: border-box;
  overflow: hidden;
}
#constitution .text__inner {
  margin: 5% 0 0;
  padding: 5%;
  background: rgba(255,255,255,0.6);
}
#constitution .text__inner h3 {
  font-size: 6vw;
  font-family: "851kktt";
  color: #06abbf;
  text-shadow: #fff 0.2vw 0.2vw 0px, #fff -0.2vw 0.2vw 0px, #fff 0.2vw -0.2vw 0px, #fff -0.2vw -0.2vw 0px, #fff 0vw 0.3vw 0px, #fff -0.3vw 0vw 0px, #fff 0.3vw 0vw 0px, #fff 0vw -0.3vw 0px;
}
#constitution .text__inner p {
  padding: 5% 0;
  font-size: 2.2vw;
  line-height: 1.8;
  letter-spacing: 0.2em;
}
#constitution .text__inner p.marker_title {
  padding: 5% 0 0;
  font-size: 3vw;
}
#constitution .text__inner h4 {
  font-size: 4vw;
  padding: 3% 0;
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: #06abbf 0.15vw 0.15vw 0px, #06abbf -0.15vw 0.15vw 0px, #06abbf 0.15vw -0.15vw 0px, #06abbf -0.15vw -0.15vw 0px, #06abbf 0vw 0.2vw 0px, #06abbf -0.2vw 0vw 0px, #06abbf 0.2vw 0vw 0px, #06abbf 0vw -0.2vw 0px;
}
#constitution .text__inner table {
  width: 80%;
  margin: 0 auto;
}
#constitution .text__inner table .table__title th {
  padding: 3%;
  color: #fff;
  font-size: 2.4vw;
  font-weight: normal;
  box-sizing: border-box;
  line-height: 1.6;
}
#constitution .text__inner table .table__title th.active {
  background: #21b8d7;
}
#constitution .text__inner table .table__title th span {
  font-size: 4vw;
  font-weight: bold;
  padding: 0 2% 0 0;
}
#constitution .text__inner table .table__text {
  background: #fff;
}
#constitution .text__inner table .table__text th {
  width: 50%;
  padding: 3% 10% 3% 0;
  font-size: 2vw;
  color: #21b8d7;
  text-align: right;
  box-sizing: border-box;
}
#constitution .text__inner table .table__text td {
  width: 50%;
  padding: 0 0 0 10%;
  font-size: 2vw;
  text-align: left;
  box-sizing: border-box;
}
#constitution .text__inner ul {
  padding: 0 0 5%;
}
#constitution .text__inner ul li {
  width: 80%;
  background: url("../img/index/check_icon.png") no-repeat left center;
  background-size: 8%;
  margin: 0 auto -3%;
  padding: 4% 0 4% 10%;
  box-sizing: border-box;
  font-size: 2.2vw;
}
#constitution .text__inner ul li .marker {
  background: #21b8d7;
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
  color: #fff;
  z-index: 100;
}
#constitution .text__inner ul li .marker::before,
#constitution .text__inner ul li .marker::after {
  content: "";
  position: absolute;
  background: #21b8d7;
  height: 0.99em;
  transform: skew(10deg);
  width: 1em;
  z-index: -1;
  top: 0;
}
#constitution .text__inner ul li .marker::before {
  left: -0.2em;
}
#constitution .text__inner ul li .marker::after {
  right: -0.2em;
}
#constitution .text__inner .link a {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 3%;
  color: #fff;
  background-color: #21b8d7;
  box-sizing: border-box;
  background-image: url("../img/index/external.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: 10% auto;
}
/*****----------------------------------- diagnosis *****/
#diagnosis {
  background: url("../img/index/konoha.png") no-repeat 90% 75%;
  background-size: auto 65%;
  width: 100%;
  height: 300px;
  margin: 0 auto 150px;
  padding: 15% 0 5%;
  position: relative;
  overflow: hidden;
}
#diagnosis .start {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
#diagnosis .start a {
  display: block;
  width: 60%;
  font-size: 4em;
  color: #000;
  border: 2px solid #000;
  padding: 3%;
  text-align: center;
  box-sizing: border-box;
}
#diagnosis .start a span.large {
  color: #ffa200;
  font-size: 7em;
}
#diagnosis .diagnosis_wrap1 {
  width: 220%;
  height: 10%;
  margin: 10% 0 0 -10%;
  text-align: center;
  background: #fff;
  box-shadow: 0px 1.2vw 0px 0px #2576c2 inset, 0px -1.2vw 0px 0px #2576c2 inset;
  position: absolute;
  top: 0%;
  z-index: 100;
  transform: rotate(3deg);
}
#diagnosis .diagnosis_wrap2 {
  width: 220%;
  height: 10%;
  margin: 10% 0 0 -10%;
  text-align: center;
  background: #fff;
  box-shadow: 0px 1.2vw 0px 0px #2576c2 inset, 0px -1.2vw 0px 0px #2576c2 inset;
  position: absolute;
  top: 65%;
  z-index: 100;
  transform: rotate(3deg);
}
/*****-----------------------------------*****/
