//- common header
header.global_header
  h1.global_header__h1
    a.global_header__h1--link(href="#")
      | CONOHA
      br
      | SINDAN ROOM
  nav.global_header__nav
    ul.question_list
      li.question_list__item.active
        a.question_list__item--link(href="#1th") Q1
      li.question_list__item
        a.question_list__item--link(href="#2th") Q2
      li.question_list__item
        a.question_list__item--link(href="#3th") Q3
      li.question_list__item
        a.question_list__item--link(href="#4th") Q4
      li.question_list__item
        a.question_list__item--link(href="#5th") Q5
      li.question_list__item
        a.question_list__item--link(href="#6th") Q6
      li.question_list__item
        a.question_list__item--link(href="#7th") Q7
      li.question_list__item
        a.question_list__item--link(href="#8th") Q8
