//- テンプレート
//- 必要なら extends include/_layout で読み込み
doctype html
block vars
html(lang="ja")
  head
    include _head
    include _css
  body
    block top_loading
    #wrap
      block content
    include _script
