//- テンプレート
//- 必要なら extends include/_layout で読み込み
doctype html
block vars
html(lang="ja")
  head
    include _head
    include _css
  body
    //- #loader-bg
    //-   #loader
    //-     .loading
    //-       span.loading__title LOADING
    //-       span.loading__circle1
    //-       span.loading__circle2
    //-       span.loading__circle3
    #wrap
      block content
    include _script
