//- テンプレート
//- 必要なら extends include/_layout で読み込み
doctype html
html
  head
    block title
      title ページのタイトルを入れる
    include _meta
    include _css
    //- include _script
  body
    block content
