//-meta
-
  var pages = {
    top : {
      title : 'トップページ完成',
      description : 'トップは完成？？',
      keywords : 'トップページ,Conoha',
    },
    diagnosis : {
      title : 'コンテントAA',
      description : 'コンテントAです',
      keywords : 'コンテントA'
    },
    result : {
      title : 'コンテントBB',
      description : 'コンテントBです',
      keywords : 'コンテントB'
    }
    // content_b : {
    //   url : 'content_b.html',
    //   name : 'コンテントB',
    //   title : 'コンテントB',
    //   description : 'コンテントBです',
    //   keywords : 'コンテントB',
    //   image : 'img/ogp.jpg'
    // },
  }
