//-meta
-
  var pages = {
    top : {
      title : 'あなたにピッタリなVPSサービスをこのはと一緒に考える「Conoha診断室」',
      description : 'あなたにピッタリなVPSサービスをこのはと一緒に考える「Conoha診断室」。初めての人からVPS乗り換えたいと考えている人まであなたにピッタリなVPSをこのはが診断しちゃいます♪',
      keywords : 'Conoha診断室,このは,VPS'
    },
    diagnosis : {
      title : '診断ページ | Conoha診断室',
      description : 'Conoha診断室の診断ページです。このはが考えた6種(仮)のタイプのうち、あなたはどれに当てはまるのか診断してみましょう！',
      keywords : 'Conoha診断室,診断,VPS乗り換え'
    },
    result : {
      title : '診断結果 | Conoha診断室',
      description : 'Conoha診断室の診断結果ページです。あなたはどのタイプに当てはまりましたか？',
      keywords : 'Conoha診断室,このは,診断結果'
    }
    // content_b : {
    //   url : 'content_b.html',
    //   name : 'コンテントB',
    //   title : 'コンテントB',
    //   description : 'コンテントBです',
    //   keywords : 'コンテントB',
    //   image : 'img/ogp.jpg'
    // },
  }
