/* ----------------------------------------
fileName : diagnosis.styl
writer   : Daichi Seki, Miwa Shuntaro
---------------------------------------- */
@import "include/_import.styl";

body
  font-size 14px
  font-family "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif"


/*****-----------------------------------*****/
.diagnosis_wrap
  width 100%
  height 100%
  padding-top 210px
  background-image url("../img/index/back_pattern.png")
  &__item
    height calc(100vh - 200px)
    .question
      width 100%
      height 100vh
      padding 5% 8%
      box-sizing border-box
      &__query
        width calc(100% - 25%)
        font-size 2.7vw
        background-color transparent
        middle-line(12vh)
        .question_number
          padding-right 20px
          box-sizing border-box
          font-size 4vw
          font-weight bold
          color main_color
          text-shadow: 3px 3px 3px #ccc;
        .question_text
          font-weight bold
          color #555
          background: linear-gradient(transparent 65%, #ffbf7f 35%)
      &__choice
        position relative
        .individual_choice
          display flex
          width calc(100% - 35%)
          margin-top 5vh
          font-size 3.5vw
          font-weight bold
          color #555
          background-color #fff
          cursor pointer
          transition .2s
          box-shadow: 3px 3px 3px #ccc;
          middle-line(10vh)
          &:hover
            box-shadow: 6px 6px 3px #aaa;
          .checkbox
            display none
            &:checked + .lever_word::after
              content ""
              position absolute
              top 2.2vh
              left 3.5vh
              width 4.8vh
              height 2.3vh
              border-left 0.8vh solid #ffbf7f
              border-bottom 1vh solid #ffbf7f
              -webkit-transform rotate(-45deg)
              -ms-transform rotate(-45deg)
              transform rotate(-45deg)
          .lever_word
            flex 1
            position relative
            padding-left 10vh
            box-sizing border-box
            &::before
              content ""
              display block
              position absolute
              top 2vh
              left 2.4vh
              width 5vh
              height 5vh
              border 6px solid #ffbf7f
              border-radius 4px
        /*
        .overlay_border
          position absolute
          z-index 999
          width calc(100% - 35%)
          height 10vh
          opacity 0
          box-shadow:0px 0px 0px 5px #fff inset,0px 0px 0px 8px #fff inset;
          transition .2s
          &:hover
            opacity 1
            box-shadow:0px 0px 0px 5px #fff inset,0px 0px 0px 8px #ffbf7f inset;
        */
  .fixed_conoha
    position fixed
    top 260px
    right 5%
    width 30%
    height auto
    &__img
      position absolute
      top 0
      right 0
      left 0
      margin auto
      width 100%
      height auto
/*****-----------------------------------*****/
// 1000~768 1000px固定幅
@media screen and (max-width: 999px)
  body
    width 1000px
    .global_header
      position absolute
      width 1000px
// ここからspの場合
@media screen and (max-width: 767px)
  body
    display none
