/* ----------------------------------------
fileName : diagnosis.styl
writer   : Daichi Seki, Miwa Shuntaro
---------------------------------------- */
@import "include/_import.styl";

body
  font-size 14px
  font-family "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif"


/*****-----------------------------------*****/
.diagnosis_wrap
  width 100%
  height 100%
  padding-top 210px
  background-image url("../img/index/back_pattern.png")
  &__item
    height calc(100vh - 200px)
    .question
      width 100%
      height 100vh
      padding 5% 8%
      box-sizing border-box
      &__query
        width calc(100% - 25%)
        font-size 2.7vw
        background-color transparent
        middle-line(12vh)
        .question_number
          padding-right 20px
          box-sizing border-box
          font-size 4vw
          font-weight bold
          color main_color
          text-shadow: 3px 3px 3px #ccc;
        .question_text
          font-weight bold
          color #555
          background: linear-gradient(transparent 65%, #ffbf7f 35%)
      &__choice
        .individual_choice
          display flex
          width calc(100% - 35%)
          margin-top 5vh
          font-size 3.5vw
          font-weight bold
          color #555
          background-color #fff
          cursor pointer
          transition .2s background-color
          box-shadow: 3px 3px 3px #ccc;
          middle-line(10vh)
          &:hover
            background-color rgba(main_color,0.5)
          span.checkbox_wrap
            width 10vh
            height 100%
            text-align center
            background-color #ffbf7f
            .checkbox
              background-color #ffbf7f
          .lever_word
            flex 1
  .fixed_conoha
    position fixed
    top 260px
    right 5%
    width 30%
    height auto
    &__img
      position absolute
      top 0
      right 0
      left 0
      margin auto
      width 100%
      height auto
/*****-----------------------------------*****/
// 1000~768 1000px固定幅
@media screen and (max-width: 999px)
  body
    width 1000px
    .global_header
      position absolute
      width 1000px
// ここからspの場合
@media screen and (max-width: 767px)
  body
    display none
