/* ----------------------------------------
fileName : style.scss
writer   : Daichi Seki, Miwa Shuntaro
---------------------------------------- */
@import "include/_import.styl";

body
  font-size 14px

/*****-----------------------------------*****/
.diagnosis_wrap
  width 100%
  height 100%
  padding-top 210px
  &__item
    height calc(100vh - 200px)
    background-color rgba(main_color,0.5)
/*****-----------------------------------*****/
// 1000~768 1000px固定幅
@media screen and (max-width: 999px)
  body
    width 1000px
    .global_header
      position absolute
      width 1000px
// ここからspの場合
@media screen and (max-width: 767px)
  body
    display none
