/* ----------------------------------------
fileName : index.styl
writer   : Daichi Seki, Miwa Shuntaro

-- トップページstylの記入
---------------------------------------- */
@import "include/_import.styl";

body
  font-size 14px

/*****-----------------------------------*****/
.header_wrapp
  position relative
  .header
    position relative
    overflow hidden
    width 100%
    height 100%
    background url(../img/index/header_back.jpg) no-repeat center top
    background-size cover
    font-family "851kktt"
    &::before
      content ""
      position absolute
      z-index 99
      bottom 0
      width 200%
      height 11vw
      background-color #fff
      transform skewY(-6deg)
    h1
      padding 5% 8% 3% 8%
      font-size 3.6vw
      color #fff
      line-height 1.6
      span
        font-size 6vw
    &__image
      position absolute
      width:45%
      top 2%
      right 1%
      z-index 100
    .diagnosis_start
      position relative
      display block
      z-index 100
      top 55%
      left 8%
      width 30vw
      height 30vw
      .circle
        display table
        width 100%
        height 100%
        padding 0 0 0 20px
        border 0.8vw solid #fff
        box-sizing border-box
        border-radius 50%
        background-color main_color
        &__word
          display table-cell
          vertical-align middle
          padding 5%
          box-sizing border-box
          line-height 2
          font-size 2.8vw
          font-weight bold
          color #fff
          //影をつける
          contour #f01fdb
        &__image
          position absolute
          bottom 0%
          left 60%
          width 60%
          &--content
            width 100%
            height auto
/*****----------------------------------- description *****/
#description
  background main_color
  margin 2% 0 0
  position relative
  .title
    position relative
    z-index 3
    background #fff
    overflow hidden
    width 100%
    height 25vw
    padding 0 8%
    box-sizing border-box
    &::before
      content ""
      position absolute
      z-index 99
      left -1%
      bottom 0%
      width 200%
      height 11vw
      background-color main_color
      transform skewY(-6deg)
    h2
      padding 0 0 100px
      font-size 3.4vw
      font-family toroman
      color #fff
      line-height 1.6
      letter-spacing 0.2em
      transform skewY(-6deg)
      //影をつける
      contour2 main_color
  .text
    position relative
    z-index 3
    width 100%
    color #fff
    padding 0 15% 5%
    background url(../img/index/conoha_2.png) no-repeat
    background-position -85% 30%
    background-attachment fixed
    background-size 45% auto
    box-sizing border-box
    overflow hidden
    &.back_move
      background-position -20% 30%
      animation back_image_move 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000)
    &.back_remove
      background-position -85% 30%
      animation back_image_remove 1s cubic-bezier(0.075, 0.820, 0.165, 1.000)
    &__inner
      position relative
      margin 5% 0 0
      padding 5%
      background rgba(#2b302a, 0.6)
      h3
        font-size 6vw
        font-family "851kktt"
        color main_color
        //影をつける
        contour2 #fff
      p
        padding 5% 0
        font-size 2.2vw
        line-height 1.8
        letter-spacing 0.2em
      h4
        font-size 4vw
        padding 3% 0
        color #fff
        letter-spacing 0.1em
        //影をつける
        contour main_color
      ul
        li
          width 85%
          background url(../img/index/check_icon1.png) no-repeat left center
          background-size 8%
          margin 0 auto -3%
          padding 4% 0 4% 10%
          box-sizing border-box
          font-size 2.6vw
          .marker
            background main_color
            box-sizing border-box
            position relative
            font-weight normal
            color #fff
            z-index 100
            &::before,&::after
              content ""
              position absolute
              background main_color
              height 0.99em
              transform skew(10deg)
              width 1em
              z-index -1
              top 0
            &::before
              left -.2em
            &::after
              right -.2em
      .link
        a
          link_btn #fff,main_color
  .comment
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    z-index 2
    //コンテンツごとの情報
    &__hukidashi1
      //吹き出し呼び出し(top_posi,left_posi,pa_t,pa_r,pa_b,pa_l,hukidashi_size)
      hukidashi 17% 37% 5.5% 1% 11% 5% 28%
    &__hukidashi2
      hukidashi 23% 65% 8% 1% 13% 5% 28%
    &__hukidashi3
      hukidashi 32.5% 37% 7.5% 1% 13% 5.5% 38%
    &__hukidashi4
      hukidashi 47% 65% 8% 1% 13% 5% 28%
    &__hukidashi5
      hukidashi 62% 62% 6.5% 1% 11% 5% 28%
    &__hukidashi6
      hukidashi 77% 65% 7.5% 1% 13% 5% 28%
/*****----------------------------------- application *****/
#application
  position relative
  overflow hidden
  width 100vw
  background url(../img/index/app_back.jpg) no-repeat center center
  background-size cover
  background-attachment fixed
  &::before
    content ""
    position absolute
    z-index 99
    left -1%
    top 0%
    width 200%
    height 15vw
    background-color main_color
    transform skewY(6deg)
  .title
    position relative
    z-index 95
    background #021969
    overflow hidden
    width 100%
    height 25vw
    margin 8% 0
    padding 0 8%
    box-sizing border-box
    transform skewY(6deg)
    h2
      padding 10% 0 0
      font-size 3.4vw
      font-family toroman
      color #021969
      line-height 1.6
      letter-spacing 0.2em
      //影をつける
      contour2 #fff
  .text
    position relative
    z-index 95
    width 100%
    color #000
    padding 0 15% 15%
    box-sizing border-box
    overflow hidden
    &__inner
      margin 5% 0 0
      padding 5%
      background rgba(#fff, 0.6)
      h3
        font-size 6vw
        font-family "851kktt"
        color #021969
        //影をつける
        contour2 #fff
      p
        padding 5% 0
        font-size 2.2vw
        line-height 1.8
        letter-spacing 0.2em
      h4
        font-size 4vw
        padding 3% 0
        color #fff
        letter-spacing 0.1em
        //影をつける
        contour #021969
      ul
        padding 3% 0 2%
        li
          width 22%
          margin 0 4% 4% 0
          .list_img
            img
              width 80%
              text-align center
          .list_text

          &:nth-child(4n)
            margin 0 0 4% 0
      .link
        a
          link_btn:#fff,#021969
          // &.sindan
          &.blank
            background-image url(../img/index/external.png)
            background-repeat no-repeat
            background-position 96% center
            background-size 10% auto
  .comment
    position absolute
    top 0
    left 5%
    z-index 90
    width 90%
    padding 50% 0 0
    &_wrap01
      margin 10% 0 0
    &_wrap02
      margin 5% 0 0
    &_wrap03
      margin 59% 0 0
    &_wrap04
      margin 7% 0 0
    &_wrap05
      margin 21% 0 0
    .right_conoha,.left_conoha
      img
        display block
        width 30%
      p
        background #fff
        font-size 4vw
        color main_color
        line-height 1.7
        border .5vw solid main_color
        border-radius 10px
        box-sizing border-box
        padding 4% 3%

    .right_conoha
      img
        float right
    .left_conoha
      img
        float left
/*****----------------------------------- constitution *****/
#constitution
  // position relative
  // overflow hidden
  width 100vw
  background url(../img/index/cons_back.jpg) no-repeat center center
  background-size cover
  background-attachment fixed
  // background #48f7f2
  .title
    position relative
    background #06ABBF
    // overflow hidden
    width 100%
    height 25vw
    margin -6% 0 8%
    padding 0 8%
    box-sizing border-box
    transform skewY(-6deg)
    h2
      padding 10% 0 0
      font-size 3.4vw
      font-family toroman
      color #06ABBF
      line-height 1.6
      letter-spacing 0.2em
      //影をつける
      contour2 #fff
  .text
    position relative
    width 100%
    color #fff
    padding 0 15% 15%
    box-sizing border-box
    overflow hidden
    &__inner
      margin 5% 0 0
      padding 5%
      background rgba(#000, 0.6)
      h3
        font-size 6vw
        font-family "851kktt"
        color #06ABBF
        //影をつける
        contour2 #fff
      p
        padding 5% 0
        font-size 2.2vw
        line-height 1.8
        letter-spacing 0.2em
        &.marker_title
          padding 5% 0 0
          font-size 3vw
      h4
        font-size 4vw
        padding 3% 0
        color #fff
        letter-spacing 0.1em
        //影をつける
        contour #06ABBF
      table
        width 80%
        margin 0 auto
        .table
          &__title
            th
              padding 3%
              color plan_color
              font-size 2.4vw
              font-weight normal
              background #414141
              box-sizing border-box
              line-height 1.6
              &.active
                color #fff
                background plan_color
              span
                font-size 4vw
                font-weight bold
                padding 0 2% 0 0
          &__text
            background #fff
            th
              width 50%
              padding 3% 10% 3% 0
              font-size 2vw
              color plan_color
              text-align right
              box-sizing border-box
            td
              width 50%
              padding 0 0 0 10%
              font-size 2vw
              color #000
              text-align left
              box-sizing border-box
      ul
        padding 0 0 5%
        li
          width 80%
          background url(../img/index/check_icon2.png) no-repeat left center
          background-size 8%
          margin 0 auto -3%
          padding 4% 0 4% 10%
          box-sizing border-box
          font-size 2.2vw
          .marker
            background plan_color
            box-sizing border-box
            position relative
            font-weight normal
            color #fff
            z-index 100
            &::before,&::after
              content ""
              position absolute
              background plan_color
              height 0.99em
              transform skew(10deg)
              width 1em
              z-index -1
              top 0
            &::before
              left -.2em
            &::after
              right -.2em
      .link
        a
          link_btn:#fff,plan_color
          &.blank
            background-image url(../img/index/external.png)
            background-repeat no-repeat
            background-position 96% center
            background-size 10% auto
    .back_wrap
      position absolute
      width 100%
      height 100%
      top 0
      left 0
      div
        position relative
        &.sd_image01
          margin 58% 0 0 70%
          img
            width 70%
        &.sd_image02
          margin 10% 0 0 5%
          img
            width 22%
        &.sd_image03
          margin 30% 0 0 65%
          img
            width 65%
        &.sd_image04
          margin 55% 0 0 12%
          img
            width 25%
        &.sd_image05
          margin 21% 0 0 67%
          img
            width 73%

/*****----------------------------------- diagnosis *****/
#diagnosis
  position relative
  // overflow hidden
  width 100vw
  background main_color
  &::before
    content ""
    position absolute
    z-index 99
    left -1%
    top -5%
    width 101%
    height 8vw
    background-color #fff
    transform skewY(6deg)
  .title
    position relative
    background #fff
    // overflow hidden
    width 100%
    height 20vw
    margin 0 0 8%
    padding 0 8%
    box-sizing border-box
    transform skewY(6deg)
    h2
      padding 3% 0  0
      font-size 3.4vw
      font-family toroman
      color #fff
      line-height 1.6
      letter-spacing 0.2em
      //影をつける
      contour2 main_color
  .text
    position relative
    width 100%
    color #000
    padding 0 15%
    background url(../img/index/conoha_3.png) no-repeat 140% bottom
    // background-attachment fixed
    background-size 70% auto
    box-sizing border-box
    overflow hidden
    &__inner
      margin 5% 0 80%
      padding 5%
      background rgba(#fff, 0.6)
      h3
        font-size 6vw
        font-family "851kktt"
        color main_color
        //影をつける
        contour2 #fff
      p
        padding 5% 0
        font-size 2.2vw
        line-height 1.8
        letter-spacing 0.2em
        &.marker_title
          padding 5% 0 0
          font-size 3vw
      h4
        font-size 4vw
        padding 3% 0
        color #fff
        letter-spacing 0.1em
        //影をつける
        contour #06ABBF
  .label
    // margin 75% 0 0
    position absolute
    top 50%
    left 2%
    p
      a
        display block
        width 55vw
        padding 24% 10% 22% 10%
        background url(../img/index/balloon/balloon3.png) no-repeat center
        background-size 100% auto
        box-sizing border-box
        font-size 4.7vw
        font-weight bold
        font-family "851kktt"
        line-height 1.7
        color #000

/*****-----------------------------------*****/
// 1000~768 1000px固定幅
// @media screen and (max-width: 999px)
//   body
//     width 1000px
//   .header_wrapp
//     .header
//       &::before
//         height 120px
//       h1
//         font-size 36px
//         span
//           font-size 60px
//       .diagnosis_start
//         width 300px
//         height 300px
//         .circle
//           &__word
//             font-size 2em
// ここからspの場合
// @media screen and (max-width: 767px)
//   body
//     display none
