/* ----------------------------------------
fileName  _hover.styl
writer    Daichi Seki, Miwa Shuntaro

-- hover時の効果を格納
(sp時にhoverをなくすため)
---------------------------------------- */
.back_rote {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_rote::before,
.back_rote::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_rote::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back_rote:hover::after {
  transform: scale(2) rotate(180deg);
  background: #333;
}
.back_rote2 {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_rote2::before,
.back_rote2::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_rote2:hover {
  color: #000 !important;
}
.back_rote2::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back_rote2:hover::after {
  transform: scale(2) rotate(180deg);
  background: #ddd;
}
.back_rote {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_rote::before,
.back_rote::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_rote::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back_rote:hover::after {
  transform: scale(2) rotate(180deg);
  background: #333;
}
.back_window {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_window::before,
.back_window::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_window::after {
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
}
.back_window:hover::after {
  top: 0;
  left: 0;
  background: #333 url("../img/index/external.png") no-repeat;
  background-position: 96% center;
  background-size: 10% auto;
}
.back_window2 {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.back_window2::before,
.back_window2::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.back_window2:hover {
  color: #000 !important;
}
.back_window2::after {
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
}
.back_window2:hover::after {
  top: 0;
  left: 0;
  background: #ddd url("../img/index/external.png") no-repeat;
  background-position: 96% center;
  background-size: 10% auto;
}
.bound_balloon {
  transition: all 0.5s cubic-bezier(0.65, -0.6, 0.295, 1.65);
}
.bound_balloon:hover {
  transform: scale(1.05) !important;
}
.change_main_color:hover {
  color: main_color !important;
}
