/* ----------------------------------------
fileName : _keyframes.styl
writer   : Daichi Seki, Miwa Shuntaro
---------------------------------------- */
@-moz-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-moz-keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@-webkit-keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@-o-keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@keyframes back_image_move {
  0% {
    background-position: -85% 30%;
  }
  1% {
    background-position: -85% 30%;
  }
  100% {
    background-position: -20% 30%;
  }
}
@-moz-keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@-webkit-keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@-o-keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
@keyframes back_image_remove {
  0% {
    background-position: -20% 30%;
  }
  1% {
    background-position: -20% 30%;
  }
  100% {
    background-position: -85% 30%;
  }
}
