extends include/_layout
block vars
  include include/_meta
  - var key = "diagnosis"
  - var page = pages[key]
block css
  link(rel="stylesheet", href='./css/ionicons.min.css')
  link(rel="stylesheet", href='./css/style.css')
  link(rel="stylesheet", href='./css/diagnosis.css')
block js
  script(src="./js/main.js")
block content
  include include/_header
  section.diagnosis_wrap
    #1th.diagnosis_wrap__item
      .question
        .question__query
          span.question_number Q1
          span.question_text どのような場面で使いますか？
        .question__choice
          label.individual_choice
            input.checkbox(type="checkbox" name="1th_check")
            span.lever_word 個人
          label.individual_choice
            input.checkbox(type="checkbox" name="1th_check")
            span.lever_word 企業
          label.individual_choice
            input.checkbox(type="checkbox" name="1th_check")
            span.lever_word 決めていない
    #2th.diagnosis_wrap__item
      .question
        .question__query
          span.question_number Q2
          span.question_text どのようなことに利用したいですか？
        .question__choice
          label.individual_choice
            input.checkbox(type="checkbox" name="2th_check")
            span.lever_word 個人
          label.individual_choice
            input.checkbox(type="checkbox" name="2th_check")
            span.lever_word 企業
          label.individual_choice
            input.checkbox(type="checkbox" name="2th_check")
            span.lever_word 決めていない
    #3th.diagnosis_wrap__item
      .question
        .question__query
          span.question_number Q3
          span.question_text 容量はどのくらいにしますか？
        .question__choice
          label.individual_choice
            input.checkbox(type="checkbox" name="3th_check")
            span.lever_word 個人
          label.individual_choice
            input.checkbox(type="checkbox" name="3th_check")
            span.lever_word 企業
          label.individual_choice
            input.checkbox(type="checkbox" name="3th_check")
            span.lever_word 決めていない
    #4th.diagnosis_wrap__item
      .question
        .question__query
          span.question_number Q4
          span.question_text データベースやメールは使いますか？
        .question__choice
          label.individual_choice
            input.checkbox(type="checkbox" name="4th_check")
            span.lever_word 個人
          label.individual_choice
            input.checkbox(type="checkbox" name="4th_check")
            span.lever_word 企業
          label.individual_choice
            input.checkbox(type="checkbox" name="4th_check")
            span.lever_word 決めていない
    #5th.diagnosis_wrap__item
      .question
        .question__query
          span.question_number Q5
          span.question_text Webサーバは外部に公開しますか？
        .question__choice
          label.individual_choice
            input.checkbox(type="checkbox" name="5th_check")
            span.lever_word 個人
          label.individual_choice
            input.checkbox(type="checkbox" name="5th_check")
            span.lever_word 企業
          label.individual_choice
            input.checkbox(type="checkbox" name="5th_check")
            span.lever_word 決めていない
    #6th.diagnosis_wrap__item
      .question
        .question__query
          span.question_number Q6
          span.question_text 自動バックアップをConohaで行いますか？
        .question__choice
          label.individual_choice
            input.checkbox(type="checkbox" name="6th_check")
            span.lever_word 個人
          label(for="6th_checkbox2").individual_choice
            input.checkbox(type="checkbox" name="6th_check")
            span.lever_word 企業
          label(for="6th_checkbox3").individual_choice
            input.checkbox(type="checkbox" name="6th_check")
            span.lever_word 決めていない
    #7th.diagnosis_wrap__item
      .question
        .question__query
          span.question_number Q7
          span.question_text 海外にサーバを立てますか？
        .question__choice
          label.individual_choice
            input.checkbox(type="checkbox" name="7th_check")
            span.lever_word 個人
          label.individual_choice
            input.checkbox(type="checkbox" name="7th_check")
            span.lever_word 企業
          label(for="7th_checkbox3").individual_choice
            input.checkbox(type="checkbox" name="7th_check")
            span.lever_word 決めていない
    #8th.diagnosis_wrap__item
      .question
        .question__query
          span.question_number Q8
          span.question_text 使用したいサービスはありますか？
        .question__choice
          label.individual_choice
            input.checkbox(type="checkbox" name="8th_check")
            span.lever_word 個人
            .overlay_border
          label.individual_choice
            input.checkbox(type="checkbox" name="8th_check")
            span.lever_word 企業
            .overlay_border
          label.individual_choice
            input.checkbox(type="checkbox" name="8th_check")
            span.lever_word 決めていない
            .overlay_border
    .fixed_conoha
      img.fixed_conoha__img(src="./img/index/conoha_main.png" alt="固定このは")
  include include/_footer
