extends include/_layout
block vars
  include include/_meta
  - var key = "diagnosis"
  - var page = pages[key]
block css
  link(rel="stylesheet", href='./css/style.css')
  link(rel="stylesheet", href='./css/diagnosis.css')
block content
  include include/_header
  section.diagnosis_wrap
    div#1th.diagnosis_wrap__item
      p ago1
    div#2th.diagnosis_wrap__item
      p ago2
    div#3th.diagnosis_wrap__item
      p ago3
    div#4th.diagnosis_wrap__item
      p ago4
    div#5th.diagnosis_wrap__item
      p ago5
    div#6th.diagnosis_wrap__item
      p ago6
    div#7th.diagnosis_wrap__item
      p ago7
    div#8th.diagnosis_wrap__item
      p ago8
  include include/_footer
