extends include/_layout
block vars
  include include/_meta
  - var key = "diagnosis"
  - var page = pages[key]
block css
  link(rel="stylesheet", href='../css/style.css')
  link(rel="stylesheet", href='../css/diagnosis.css')
block content
  include include/_header
  section.diagnosis_wrap
    div.diagnosis_wrap__item
      p ago1
    div.diagnosis_wrap__item
      p ago2
    div.diagnosis_wrap__item
      p ago3
    div.diagnosis_wrap__item
      p ago4
    div.diagnosis_wrap__item
      p ago5
    div.diagnosis_wrap__item
      p ago6
    div.diagnosis_wrap__item
      p ago7
    div.diagnosis_wrap__item
      p ago8
  include include/_footer
