extends include/_layout
block vars
  include include/_meta
  - var key = "top"
  - var page = pages[key]
  block css
    link(rel="stylesheet", href='../css/index.css')
block content
  //- include include/_header.pug //-header読み込み
  section.header_wrapp
    header.header
      img.header__image(src="../img/index/firstview-top2.png" alt="トップイメージ")
    .diagnosis_start
      .circle
        .circle__word
          | 今すぐ診断
          br
          | スタート！
        .circle__image
          img.circle__image--content(src="../img/index/conoha_01.png" alt="このは1")
  section#description
    h2.txC
      | CONOHA SINDAN ROOM
      br
      | FROM GMO INSETNET
    p.txC
      | Conoha診断室へようこそ！
      br
      | このページは私美雲このはがサーバーの事で
      br
      | 困っているあなたを診断するお部屋です！
      br
      | 初心者の方も気軽にどうぞ♪
  section#diagnosis
    .diagnosis_wrap1
    p.start
      a(href='#')
        span.large START
        br
        | 診断を始める
    .diagnosis_wrap2
