extends include/_layout
block vars
  include include/_meta
  - var key = "top"
  - var page = pages[key]
block css
  link(rel="stylesheet", href='./css/index.css')
block js
  script(src="./js/plugin/jInvertScroll.js")
  script(src="./js/index.js")
block content
  //- include include/_header.pug //-header読み込み
  section.header_wrapp
    header.header
      h1
        | あなたにピッタリなVPSサービスを
        br
        | このはと一緒に考える
        br
        span 「Conoha診断室」
      a.diagnosis_start(href='diagnosis.html')
        .circle
          .circle__word
            | 今すぐ診断
            br
            | スタート！
            .circle__image
              img.circle__image--content(src="./img/index/conoha_01.png" alt="このは1")
    img.header__image(src="./img/index/conoha_main.png")
  section#description
    .title
      h2
        | CONOHA SINDAN ROOM
        br
        | FROM GMO INSETNET
    .text
      .text__inner.txC
        h3 Conoha診断室とは
        p
          | Conoha診断室とは、サーバを変更したい！
          br
          | どんなサーバが自分に合っているのか分からない
          br
          | そんなお客様に対してこのはがお客様にピッタリな
          br
          | サーバを紹介しちゃうよ♪
          br
          | 診断方法はとっても簡単♪
          br
          | このはが8個の質問をするからそれに答えるだけ！
          br
          | 質問に答えるとこのはが考えた6個のタイプの中から
          br
          | 診断結果が出るよ。その結果で申し込むことも
          br
          | できちゃうから初めの人でも楽しみながら
          br
          | サーバ構築できちゃうね。
          br
          | 自分にピッタリな診断結果からちょっと
          br
          | 変わった診断結果まで質問の答え方で
          br
          | いろいろ楽しめるのもConoha診断室の魅力♪
          br
          | ぜひ自分にピッタリなサーバを構築したい人や
          br
          | このはの診断を楽しみたい人まで
          br
          | みんな楽しむことができるよ。
          br
          |
        h4 こんな方におすすめ♪
        ul.txL
          li
            mark.marker 今のサーバから新しいものにしたい！
          li
            mark.marker 初めてのサーバで簡単に操作したい！
          li
            mark.marker 自分好みのサーバを作りたい！
          li
            mark.marker このはが大好きな人！
        p
          | その他にもこのはの診断をやってみたい人から
          br
          | どんな診断を行うのか気になる人まで
          br
          | みんなにおすすめ♪
          br
          | 下のボタンを押すだけで簡単に診断が始めるから
          br
          | みんなレッツチャレンジ！！
        h4 このはの診断を行う
        p.link
          a(href='diagnosis.html') 診断SRART
    .comment
      p.comment__hukidashi1.second
        | このはと一緒に
        br
        | 自分にピッタリな
        br
        | Conohaサーバを
        br
        | 診断しよう♪
      p.comment__hukidashi2.first
        | 他のサーバでは
        br
        | ダメなの？
      p.comment__hukidashi3.second
        | 高速なSSDや申し込み後
        br
        | すぐにサーバ利用OK!!
        br
        | 定額制・データ送信無制限
        br
        | なのでコストも明確なのが
        br
        | Conohaの魅力です♪
      p.comment__hukidashi4.first
        | 診断はどうやって
        br
        | 行うの？
      p.comment__hukidashi5.second
        | 8個の質問を
        br
        | 答えるだけです!!
        br
        | 初心者でも安心な
        br
        | 全問選択式♪
      p.comment__hukidashi6.first
        | 簡単にできるなら
        br
        | ぜひやってみたい
  section#application
    .title
      h2
        | CONOHA SINDAN ROOM
        br
        | FOR APPLICATION
    .text
      .text__inner.txC
        h3 Conohaサーバ機能一覧
        p
          | 初心者からプロフェッショナルの方まで
          br
          | 誰でも満足いただけるのは機能が豊富だから♪
          br
          | どんな機能があるのかぜひご覧ください。
        h4.txC サーバ
        ul.cfx
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
        h4.txC ネットワーク
        ul.cfx
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
        h4.txC テンプレート
        ul.cfx
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
        h4.txC セキュリティー
        ul.cfx
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
        h4.txC サーバ操作
        ul.cfx
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
        h4.txC サポート
        ul.cfx
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
          li
            p.list_img
              img(src="./img/index/app/serv_icon01.png" alt="")
            p.list_text 全てSSD
        h4.txC 機能をもっと詳しく見る
        p.link
          a(href='http://www.conoha.jp/function/' target="_blank") 機能一覧ページへ
  section#constitution
    .title
      h2
        | CONOHA SINDAN ROOM
        br
        | CONSTITUTION EXAMPLE
    .text
      .text__inner
        .scroll.wid3000 あ
        .scroll.wid4000 い
        .scroll.wid7000 う
  section#diagnosis
    .diagnosis_wrap1
    p.start
      a(href='diagnosis.html')
        span START
        br
        | 診断を始める
    .diagnosis_wrap2
  //- section.header_wrapp
  //-   header.header
  //-     h1
  //-       | あなたにピッタリなVPSサービスを
  //-       br
  //-       | このはと一緒に考える
  //-       br
  //-       span 「Conoha診断室」
  //-     a.diagnosis_start(href='diagnosis.html')
  //-       .circle
  //-         .circle__word
  //-           | 今すぐ診断
  //-           br
  //-           | スタート！
  //-           .circle__image
  //-             img.circle__image--content(src="./img/index/conoha_01.png" alt="このは1")
  //-   img.header__image(src="./img/index/conoha_main.png")
