extends include/_layout.pug
block vars
  include ./include/_meta.pug
  - var key = "result"
  - var page = pages[key]
block content
  include include/_header
  section
    p agooooo2
  include include/_footer
