extends include/_layout
block vars
  include include/_meta
  - var key = "result"
  - var page = pages[key]
  block css
    link(rel="stylesheet", href='../css/style.css')
    link(rel="stylesheet", href='../css/result.css')
block content
  include include/_header
  section
    p agooooo2
  include include/_footer
