extends include/_layout
block vars
  include include/_meta
  - var key = "result"
  - var page = pages[key]
block css
  link(rel="stylesheet", href='./css/style.css')
  link(rel="stylesheet", href='./css/result.css')
block js
  script(src="./js/result.js")
block content
  header.global_header
    h1.global_header__h1
      a.global_header__h1--link(href="./")
        | CONOHA
        br
        | SINDAN ROOM
  section.result_wrap
    .content
      h2.content__h2 診断結果
      .plan
        .plan__item
          p.plan__item__tag メモリー
          p.plan__item__main.plan__item__main--01
        .plan__item
          p.plan__item__tag CPU
          p.plan__item__main.plan__item__main--02
        .plan__item
          p.plan__item__tag SSD
          p.plan__item__main.plan__item__main--03
        .plan__item
          p.plan__item__tag 月額料金
          p.plan__item__main.plan__item__main--04
        .plan__item
          p.plan__item__tag 1時間あたりの料金
          p.plan__item__main.plan__item__main--05
      a.plan_link(href="https://www.conoha.jp/pricing/?btn_id=header_pricing") プラン一覧を確認
      .description
        .description__text
          .balloon
            p あなたに合ったプランは見つけられたかな？
            p またこのは診断室に遊びに来てね！
        .description__image
          img(src="./img/index/conoha_01.png" alt="このはちゃん")
